In [118]:
import pandas as pd

In [119]:
df=pd.read_csv("2016.csv")

In [120]:
df.columns

Index(['S. No. (Col.1)', 'State/UT (Col.2)',
       'Offences affecting the Human Body - Murder (Sec 302 IPC) - I (Col.3)',
       'Offences affecting the Human Body - Murder (Sec 302 IPC) - V (Col.4)',
       'Offences affecting the Human Body - Murder (Sec 302 IPC) - R (Col.5)',
       'Offences affecting the Human Body - Culpable Homicide Not Amounting To Murder (Sec 304 IPC) - I (Col.6)',
       'Offences affecting the Human Body - Culpable Homicide Not Amounting To Murder (Sec 304 IPC) - V (Col.7)',
       'Offences affecting the Human Body - Culpable Homicide Not Amounting To Murder (Sec 304 IPC) - R (Col.8)',
       'Offences affecting the Human Body - Causing Death By Negligence - Causing Death By Negligence (Total) (Sec 304A IPC) - I (Col.9)',
       'Offences affecting the Human Body - Causing Death By Negligence - Causing Death By Negligence (Total) (Sec 304A IPC) - V (Col.10)',
       ...
       'Miscellaneous - Cruelty By Husband or His Relatives (Sec 498A IPC) - R (Col.109)',
       'Miscellaneous - Insult to the Modesty of Women (Sec 509 IPC) - I (Col.110)',
       'Miscellaneous - Insult to the Modesty of Women (Sec 509 IPC) - V (Col.111)',
       'Miscellaneous - Insult to the Modesty of Women (Sec 509 IPC) - R (Col.112)',
       'Other IPC Crimes******* - I (Col.113)',
       'Other IPC Crimes******* - V (Col.114)',
       'Other IPC Crimes******* - R (Col.115)',
       'Total Cognizable IPC Crimes - I (Col.116)',
       'Total Cognizable IPC Crimes - V (Col.117)',
       'Total Cognizable IPC Crimes - R (Col.118)'],
      dtype='object', length=217)

## Since there many other crimes like theft,murder,homicide etc,I have picked the crimes on women which are very serious offences

### 1. Rape
### 2. Dowry Deaths	
### 3. Assault on women with intent to outrage her modesty
### 4. Cruelty By Husband or his relatives	
### 5. Insult to the modesty of women
### 6. Kidnapping and Abduction

In [121]:
new_df=df.filter(['State/UT (Col.2)',"Offences affecting the Human Body - Rape - Rape (Total) - I (Col.36)","Offences affecting the Human Body - Dowry Deaths* (Sec 304B IPC) - I (Col.12)","Offences affecting the Human Body - Assault on Women With intent to Outrage her Modesty - Assault On Women With Intent To Outrage Her Modesty (Total) - I (Col.27)","Miscellaneous - Cruelty By Husband or His Relatives (Sec 498A IPC) - I (Col.107)","Miscellaneous - Insult to the Modesty of Women (Sec 509 IPC) - I (Col.110)",'Offences affecting the Human Body - Kidnapping & Abduction - Kidnapping & Abduction (Total) - I (Col.30)'],axis=1)

In [122]:
new_df

,State/UT (Col.2),Offences affecting the Human Body - Rape - Rape (Total) - I (Col.36),Offences affecting the Human Body - Dowry Deaths* (Sec 304B IPC) - I (Col.12),Offences affecting the Human Body - Assault on Women With intent to Outrage her Modesty - Assault On Women With Intent To Outrage Her Modesty (Total) - I (Col.27),Miscellaneous - Cruelty By Husband or His Relatives (Sec 498A IPC) - I (Col.107),Miscellaneous - Insult to the Modesty of Women (Sec 509 IPC) - I (Col.110),Offences affecting the Human Body - Kidnapping & Abduction - Kidnapping & Abduction (Total) - I (Col.30)
0,Andhra Pradesh,994,193,4829,6461,1831,917
1,Arunachal Pradesh,92,1,109,50,10,112
2,Assam,1779,157,3378,9321,34,6126
3,Bihar,1008,987,324,3794,167,7324
4,Chhattisgarh,1626,84,1770,622,101,2071
5,Goa,61,2,143,23,32,106
6,Gujarat,982,12,1224,3732,59,2784
7,Haryana,1187,260,1860,3313,124,3932
8,Himachal Pradesh,252,3,410,214,49,290
9,Jammu & Kashmir,256,6,1235,342,153,810
10,Jharkhand,1109,278,667,1002,13,1309
11,Karnataka,1655,234,5260,2556,160,2916
12,Kerala,1656,25,4029,3455,328,241
13,Madhya Pradesh,4882,629,8717,6264,358,7123
14,Maharashtra,4189,248,11396,7215,924,9333
15,Manipur,55,0,65,29,5,145
16,Meghalaya,190,0,68,26,17,156
17,Mizoram,23,0,71,19,1,6
18,Nagaland,26,1,14,3,8,91
19,Odisha,1983,397,8252,2781,437,3046
20,Punjab,838,80,1025,1568,10,1591
21,Rajasthan,3656,462,4839,13811,15,5299
22,Sikkim,92,0,34,2,11,12
23,Tamil Nadu,319,58,854,1256,27,1223
24,Telangana,1278,254,3767,7202,1003,1302
25,Tripura,207,19,214,430,1,139
26,Uttar Pradesh,4816,2473,11335,11156,35,15898
27,Uttarakhand,336,57,344,392,3,790
28,West Bengal,1110,535,4177,19302,449,6045
29,Total (States),36657,7455,80410,106341,6365,81137
30,A & N Islands,30,0,46,7,2,26
31,Chandigarh,68,4,76,122,13,180
32,D&N Haveli,14,0,1,6,1,10
33,Daman & Diu,12,0,4,8,2,21
34,Delhi,2155,162,4165,3877,918,6619
35,Lakshadweep,5,0,1,2,1,0
36,Puducherry,6,0,43,15,3,15
37,Total (UTs),2290,166,4336,4037,940,6871
38,Total (All-India),38947,7621,84746,110378,7305,88008

### Renaming the selected columns and setting the index

In [123]:
new_df.rename(columns={'Offences affecting the Human Body - Kidnapping & Abduction - Kidnapping & Abduction (Total) - I (Col.30)':'Kidnapping and Abduction','Miscellaneous - Insult to the Modesty of Women (Sec 509 IPC) - I (Col.110)':"Insult to the modesty of women","Miscellaneous - Cruelty By Husband or His Relatives (Sec 498A IPC) - I (Col.107)":'Cruelty By Husband or his relatives','Offences affecting the Human Body - Assault on Women With intent to Outrage her Modesty - Assault On Women With Intent To Outrage Her Modesty (Total) - I (Col.27)':'Assault on women with intent to outrage her modesty','Offences affecting the Human Body - Dowry Deaths* (Sec 304B IPC) - I (Col.12)':'Dowry Deaths','State/UT (Col.2)':'ST','Offences affecting the Human Body - Rape - Rape (Total) - I (Col.36)':'Rape'},inplace=True)
new_df.reindex()

,ST,Rape,Dowry Deaths,Assault on women with intent to outrage her modesty,Cruelty By Husband or his relatives,Insult to the modesty of women,Kidnapping and Abduction
0,Andhra Pradesh,994,193,4829,6461,1831,917
1,Arunachal Pradesh,92,1,109,50,10,112
2,Assam,1779,157,3378,9321,34,6126
3,Bihar,1008,987,324,3794,167,7324
4,Chhattisgarh,1626,84,1770,622,101,2071
5,Goa,61,2,143,23,32,106
6,Gujarat,982,12,1224,3732,59,2784
7,Haryana,1187,260,1860,3313,124,3932
8,Himachal Pradesh,252,3,410,214,49,290
9,Jammu & Kashmir,256,6,1235,342,153,810
10,Jharkhand,1109,278,667,1002,13,1309
11,Karnataka,1655,234,5260,2556,160,2916
12,Kerala,1656,25,4029,3455,328,241
13,Madhya Pradesh,4882,629,8717,6264,358,7123
14,Maharashtra,4189,248,11396,7215,924,9333
15,Manipur,55,0,65,29,5,145
16,Meghalaya,190,0,68,26,17,156
17,Mizoram,23,0,71,19,1,6
18,Nagaland,26,1,14,3,8,91
19,Odisha,1983,397,8252,2781,437,3046
20,Punjab,838,80,1025,1568,10,1591
21,Rajasthan,3656,462,4839,13811,15,5299
22,Sikkim,92,0,34,2,11,12
23,Tamil Nadu,319,58,854,1256,27,1223
24,Telangana,1278,254,3767,7202,1003,1302
25,Tripura,207,19,214,430,1,139
26,Uttar Pradesh,4816,2473,11335,11156,35,15898
27,Uttarakhand,336,57,344,392,3,790
28,West Bengal,1110,535,4177,19302,449,6045
29,Total (States),36657,7455,80410,106341,6365,81137
30,A & N Islands,30,0,46,7,2,26
31,Chandigarh,68,4,76,122,13,180
32,D&N Haveli,14,0,1,6,1,10
33,Daman & Diu,12,0,4,8,2,21
34,Delhi,2155,162,4165,3877,918,6619
35,Lakshadweep,5,0,1,2,1,0
36,Puducherry,6,0,43,15,3,15
37,Total (UTs),2290,166,4336,4037,940,6871
38,Total (All-India),38947,7621,84746,110378,7305,88008

In [124]:
new_df.head(10)

,ST,Rape,Dowry Deaths,Assault on women with intent to outrage her modesty,Cruelty By Husband or his relatives,Insult to the modesty of women,Kidnapping and Abduction
0,Andhra Pradesh,994,193,4829,6461,1831,917
1,Arunachal Pradesh,92,1,109,50,10,112
2,Assam,1779,157,3378,9321,34,6126
3,Bihar,1008,987,324,3794,167,7324
4,Chhattisgarh,1626,84,1770,622,101,2071
5,Goa,61,2,143,23,32,106
6,Gujarat,982,12,1224,3732,59,2784
7,Haryana,1187,260,1860,3313,124,3932
8,Himachal Pradesh,252,3,410,214,49,290
9,Jammu & Kashmir,256,6,1235,342,153,810

In [125]:
new_df.set_index('ST',inplace=True)

In [126]:
new_df.sample(5)

,Rape,Dowry Deaths,Assault on women with intent to outrage her modesty,Cruelty By Husband or his relatives,Insult to the modesty of women,Kidnapping and Abduction
ST,,,,,,
Haryana,1187,260,1860,3313,124,3932
Gujarat,982,12,1224,3732,59,2784
Tamil Nadu,319,58,854,1256,27,1223
Karnataka,1655,234,5260,2556,160,2916
Mizoram,23,0,71,19,1,6

In [127]:
new_df.drop(['Total (All-India)','Total (States)'],inplace=True)

In [128]:
new_df

,Rape,Dowry Deaths,Assault on women with intent to outrage her modesty,Cruelty By Husband or his relatives,Insult to the modesty of women,Kidnapping and Abduction
ST,,,,,,
Andhra Pradesh,994,193,4829,6461,1831,917
Arunachal Pradesh,92,1,109,50,10,112
Assam,1779,157,3378,9321,34,6126
Bihar,1008,987,324,3794,167,7324
Chhattisgarh,1626,84,1770,622,101,2071
Goa,61,2,143,23,32,106
Gujarat,982,12,1224,3732,59,2784
Haryana,1187,260,1860,3313,124,3932
Himachal Pradesh,252,3,410,214,49,290
Jammu & Kashmir,256,6,1235,342,153,810
Jharkhand,1109,278,667,1002,13,1309
Karnataka,1655,234,5260,2556,160,2916
Kerala,1656,25,4029,3455,328,241
Madhya Pradesh,4882,629,8717,6264,358,7123
Maharashtra,4189,248,11396,7215,924,9333
Manipur,55,0,65,29,5,145
Meghalaya,190,0,68,26,17,156
Mizoram,23,0,71,19,1,6
Nagaland,26,1,14,3,8,91
Odisha,1983,397,8252,2781,437,3046
Punjab,838,80,1025,1568,10,1591
Rajasthan,3656,462,4839,13811,15,5299
Sikkim,92,0,34,2,11,12
Tamil Nadu,319,58,854,1256,27,1223
Telangana,1278,254,3767,7202,1003,1302
Tripura,207,19,214,430,1,139
Uttar Pradesh,4816,2473,11335,11156,35,15898
Uttarakhand,336,57,344,392,3,790
West Bengal,1110,535,4177,19302,449,6045
A & N Islands,30,0,46,7,2,26
Chandigarh,68,4,76,122,13,180
D&N Haveli,14,0,1,6,1,10
Daman & Diu,12,0,4,8,2,21
Delhi,2155,162,4165,3877,918,6619
Lakshadweep,5,0,1,2,1,0
Puducherry,6,0,43,15,3,15
Total (UTs),2290,166,4336,4037,940,6871

In [129]:
new_df.rename(columns={'Rape':'Rape 16','Dowry Deaths':'Dowry Deaths 16','Assault on women with intent to outrage her modesty':'Assault on women with intent to outrage her modesty 16','Cruelty By Husband or his relatives':'Cruelty By Husband or his relatives 16','Insult to the modesty of women':'Insult to the modesty of women 16','Kidnapping and Abduction':'Kidnapping and Abduction 16'},inplace=True)

In [130]:
new_df.head(5)

,Rape 16,Dowry Deaths 16,Assault on women with intent to outrage her modesty 16,Cruelty By Husband or his relatives 16,Insult to the modesty of women 16,Kidnapping and Abduction 16
ST,,,,,,
Andhra Pradesh,994,193,4829,6461,1831,917
Arunachal Pradesh,92,1,109,50,10,112
Assam,1779,157,3378,9321,34,6126
Bihar,1008,987,324,3794,167,7324
Chhattisgarh,1626,84,1770,622,101,2071

In [131]:
df_17=pd.read_csv("2017.csv")

In [132]:
df_17.head(10)

,S. No (Col.1),Category (Col.2),State/UT (Col.3),Offences affecting the Human Body - Murder (Sec.302 IPC) - I (Col.4),Offences affecting the Human Body - Murder (Sec.302 IPC) - V (Col.5),Offences affecting the Human Body - Murder (Sec.302 IPC) - R (Col.6),Offences affecting the Human Body - Culpable Homicide not amounting to Murder (Sec.304 IPC) - I (Col.7),Offences affecting the Human Body - Culpable Homicide not amounting to Murder (Sec.304 IPC) - V (Col.8),Offences affecting the Human Body - Culpable Homicide not amounting to Murder (Sec.304 IPC) - R (Col.9),Offences affecting the Human Body - Causing Death by Negligence - Sec.304-A IPC (Total) - I (Col.10),...,Miscellaneous IPC Crimes - Insult to the Modesty of Women (Sec.509 IPC) - R (Col.419),Miscellaneous IPC Crimes - Miscellaneous IPC Crimes(Total) - I (Col.420),Miscellaneous IPC Crimes - V (Col.421),Miscellaneous IPC Crimes - R (Col.422),Other IPC Crimes - I (Col.423),Other IPC Crimes - V (Col.424),Other IPC Crimes - R (Col.425),Total Cognizable IPC Crimes - I (Col.426),Total Cognizable IPC Crimes - V (Col.427),Total Cognizable IPC Crimes - R (Col.428)
0,1,State,Andhra Pradesh,1054,1124,2.0,202,233,0.4,7950,...,7.7,54419,60428,104.4,8574,10272,16.4,132336,148153,253.9
1,2,State,Arunachal Pradesh,79,81,5.9,7,12,0.5,100,...,0.8,291,325,21.9,310,335,23.3,2565,2915,192.7
2,3,State,Assam,1144,1162,3.5,32,45,0.1,3393,...,0.7,17631,19459,53.5,18509,19944,56.2,104324,110738,316.8
3,4,State,Bihar,2803,2819,2.7,111,111,0.1,4977,...,0.0,8683,9166,8.2,129,122,0.1,180573,187450,171.2
4,5,State,Chhattisgarh,919,1006,3.5,32,40,0.1,4045,...,1.1,13813,15825,52.5,5154,5286,19.6,58481,62842,222.5
5,6,State,Goa,31,31,1.5,9,12,0.4,234,...,3.3,824,1065,40.4,42,45,2.1,2965,3444,145.5
6,7,State,Gujarat,970,1017,1.5,71,99,0.1,6906,...,0.1,76321,35522,119.7,3015,3527,4.7,128775,91217,201.9
7,8,State,Haryana,1046,1072,3.7,54,60,0.2,5651,...,1.4,16544,17826,59.1,10252,10715,36.6,97924,101240,349.7
8,9,State,Himachal Pradesh,99,100,1.4,8,8,0.1,698,...,1.5,5175,5486,72.2,449,463,6.3,13007,13690,181.4
9,10,State,Jammu & Kashmir,152,209,1.2,27,27,0.2,654,...,0.7,7421,8998,59.0,2854,3406,22.7,22667,26737,180.1

In [133]:
temp_df=df_17.filter(['State/UT (Col.3)','Offences affecting the Human Body - Rape (Sec.376 IPC) - I (Col.175)','Offences affecting the Human Body - Attempt to Commit Rape (Sec.376/511 IPC) - I (Col.178)','Offences affecting the Human Body - Dowry Deaths (Sec.304-B IPC) - I (Col.34)','Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty - Sec.354 IPC (Total) - I (Col.100)','Miscellaneous IPC Crimes - Cruelty by Husband or his Relatives (Sec.498-A IPC) - I (Col.408)','Miscellaneous IPC Crimes - Insult to the Modesty of Women (Sec.509 IPC) - I (Col.417)','Offences affecting the Human Body - Kidnapping and Abduction - Total - I (Col.130)'],axis=1)

In [134]:
temp_df

,State/UT (Col.3),Offences affecting the Human Body - Rape (Sec.376 IPC) - I (Col.175),Offences affecting the Human Body - Attempt to Commit Rape (Sec.376/511 IPC) - I (Col.178),Offences affecting the Human Body - Dowry Deaths (Sec.304-B IPC) - I (Col.34),Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty - Sec.354 IPC (Total) - I (Col.100),Miscellaneous IPC Crimes - Cruelty by Husband or his Relatives (Sec.498-A IPC) - I (Col.408),Miscellaneous IPC Crimes - Insult to the Modesty of Women (Sec.509 IPC) - I (Col.417),Offences affecting the Human Body - Kidnapping and Abduction - Total - I (Col.130)
0,Andhra Pradesh,988,175,152,5129,7156,1998,1018
1,Arunachal Pradesh,59,24,0,97,56,5,117
2,Assam,1772,378,171,3569,9782,108,7857
3,Bihar,605,317,1081,197,3776,1,8479
4,Chhattisgarh,1908,19,74,1899,582,144,2109
5,Goa,76,0,1,134,21,31,86
6,Gujarat,477,14,9,1058,3223,17,2094
7,Haryana,1099,145,245,2031,3326,179,4401
8,Himachal Pradesh,249,8,3,397,191,52,339
9,Jammu & Kashmir,296,21,8,1417,377,41,995
10,Jharkhand,914,168,248,748,998,104,1577
11,Karnataka,546,12,206,5763,2332,212,3005
12,Kerala,2003,57,12,4413,2856,421,293
13,Madhya Pradesh,5562,61,632,9252,6099,277,7807
14,Maharashtra,1933,9,233,9392,6584,919,10324
15,Manipur,40,4,0,66,19,8,142
16,Meghalaya,119,20,1,88,20,21,148
17,Mizoram,25,1,0,64,20,2,4
18,Nagaland,10,2,0,12,3,0,66
19,Odisha,2070,151,326,9132,2525,490,3349
20,Punjab,530,79,68,933,1199,22,1386
21,Rajasthan,3305,550,457,4883,11508,24,5216
22,Sikkim,17,2,0,21,5,7,71
23,Tamil Nadu,283,11,48,744,984,9,1027
24,Telangana,552,38,251,4409,7838,1160,1560
25,Tripura,95,17,33,225,348,9,122
26,Uttar Pradesh,4246,601,2524,12607,12653,91,19921
27,Uttarakhand,374,19,60,435,394,4,800
28,West Bengal,1084,1225,499,3832,16800,448,5205
29,Total State(S),31237,4128,7342,82947,101675,6804,89518
30,A&N Islands,13,0,1,38,4,11,34
31,Chandigarh,65,3,1,100,121,12,203
32,D&N Haveli,1,0,0,3,4,0,14
33,Daman & Diu,7,0,0,6,5,1,14
34,Delhi,1229,20,120,2874,2735,619,6095
35,Lakshadweep,0,0,0,0,2,0,0
36,Puducherry,7,3,2,33,5,4,15
37,Total UT(S),1322,26,124,3054,2876,647,6375
38,Total All India,32559,4154,7466,86001,104551,7451,95893

In [135]:
temp_df['Rape 17']=temp_df['Offences affecting the Human Body - Rape (Sec.376 IPC) - I (Col.175)']+temp_df['Offences affecting the Human Body - Attempt to Commit Rape (Sec.376/511 IPC) - I (Col.178)']

In [136]:
temp_df.drop(columns=['Offences affecting the Human Body - Rape (Sec.376 IPC) - I (Col.175)','Offences affecting the Human Body - Attempt to Commit Rape (Sec.376/511 IPC) - I (Col.178)'],inplace=True)

##### temp_df.sample(3)

In [138]:
temp_df.rename(columns={'Offences affecting the Human Body - Dowry Deaths (Sec.304-B IPC) - I (Col.34)':'Dowry Deaths 17','Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty - Sec.354 IPC (Total) - I (Col.100)':'Assault on women with intent to outrage her modesty 17','Miscellaneous IPC Crimes - Cruelty by Husband or his Relatives (Sec.498-A IPC) - I (Col.408)':'Cruelty By Husband or his relatives 17','Miscellaneous IPC Crimes - Insult to the Modesty of Women (Sec.509 IPC) - I (Col.417)':'Insult to the modesty of women 17','Offences affecting the Human Body - Kidnapping and Abduction - Total - I (Col.130)':'Kidnapping and Abduction'},inplace=True)

In [139]:
temp_df

,State/UT (Col.3),Dowry Deaths 17,Assault on women with intent to outrage her modesty 17,Cruelty By Husband or his relatives 17,Insult to the modesty of women 17,Kidnapping and Abduction,Rape 17
0,Andhra Pradesh,152,5129,7156,1998,1018,1163
1,Arunachal Pradesh,0,97,56,5,117,83
2,Assam,171,3569,9782,108,7857,2150
3,Bihar,1081,197,3776,1,8479,922
4,Chhattisgarh,74,1899,582,144,2109,1927
5,Goa,1,134,21,31,86,76
6,Gujarat,9,1058,3223,17,2094,491
7,Haryana,245,2031,3326,179,4401,1244
8,Himachal Pradesh,3,397,191,52,339,257
9,Jammu & Kashmir,8,1417,377,41,995,317
10,Jharkhand,248,748,998,104,1577,1082
11,Karnataka,206,5763,2332,212,3005,558
12,Kerala,12,4413,2856,421,293,2060
13,Madhya Pradesh,632,9252,6099,277,7807,5623
14,Maharashtra,233,9392,6584,919,10324,1942
15,Manipur,0,66,19,8,142,44
16,Meghalaya,1,88,20,21,148,139
17,Mizoram,0,64,20,2,4,26
18,Nagaland,0,12,3,0,66,12
19,Odisha,326,9132,2525,490,3349,2221
20,Punjab,68,933,1199,22,1386,609
21,Rajasthan,457,4883,11508,24,5216,3855
22,Sikkim,0,21,5,7,71,19
23,Tamil Nadu,48,744,984,9,1027,294
24,Telangana,251,4409,7838,1160,1560,590
25,Tripura,33,225,348,9,122,112
26,Uttar Pradesh,2524,12607,12653,91,19921,4847
27,Uttarakhand,60,435,394,4,800,393
28,West Bengal,499,3832,16800,448,5205,2309
29,Total State(S),7342,82947,101675,6804,89518,35365
30,A&N Islands,1,38,4,11,34,13
31,Chandigarh,1,100,121,12,203,68
32,D&N Haveli,0,3,4,0,14,1
33,Daman & Diu,0,6,5,1,14,7
34,Delhi,120,2874,2735,619,6095,1249
35,Lakshadweep,0,0,2,0,0,0
36,Puducherry,2,33,5,4,15,10
37,Total UT(S),124,3054,2876,647,6375,1348
38,Total All India,7466,86001,104551,7451,95893,36713

In [140]:
new_df

,Rape 16,Dowry Deaths 16,Assault on women with intent to outrage her modesty 16,Cruelty By Husband or his relatives 16,Insult to the modesty of women 16,Kidnapping and Abduction 16
ST,,,,,,
Andhra Pradesh,994,193,4829,6461,1831,917
Arunachal Pradesh,92,1,109,50,10,112
Assam,1779,157,3378,9321,34,6126
Bihar,1008,987,324,3794,167,7324
Chhattisgarh,1626,84,1770,622,101,2071
Goa,61,2,143,23,32,106
Gujarat,982,12,1224,3732,59,2784
Haryana,1187,260,1860,3313,124,3932
Himachal Pradesh,252,3,410,214,49,290
Jammu & Kashmir,256,6,1235,342,153,810
Jharkhand,1109,278,667,1002,13,1309
Karnataka,1655,234,5260,2556,160,2916
Kerala,1656,25,4029,3455,328,241
Madhya Pradesh,4882,629,8717,6264,358,7123
Maharashtra,4189,248,11396,7215,924,9333
Manipur,55,0,65,29,5,145
Meghalaya,190,0,68,26,17,156
Mizoram,23,0,71,19,1,6
Nagaland,26,1,14,3,8,91
Odisha,1983,397,8252,2781,437,3046
Punjab,838,80,1025,1568,10,1591
Rajasthan,3656,462,4839,13811,15,5299
Sikkim,92,0,34,2,11,12
Tamil Nadu,319,58,854,1256,27,1223
Telangana,1278,254,3767,7202,1003,1302
Tripura,207,19,214,430,1,139
Uttar Pradesh,4816,2473,11335,11156,35,15898
Uttarakhand,336,57,344,392,3,790
West Bengal,1110,535,4177,19302,449,6045
A & N Islands,30,0,46,7,2,26
Chandigarh,68,4,76,122,13,180
D&N Haveli,14,0,1,6,1,10
Daman & Diu,12,0,4,8,2,21
Delhi,2155,162,4165,3877,918,6619
Lakshadweep,5,0,1,2,1,0
Puducherry,6,0,43,15,3,15
Total (UTs),2290,166,4336,4037,940,6871

In [141]:
temp_df.drop(['Total (UTs)'],inplace=True)

KeyError: "['Total (UTs)'] not found in axis"

In [142]:
temp_df

,State/UT (Col.3),Dowry Deaths 17,Assault on women with intent to outrage her modesty 17,Cruelty By Husband or his relatives 17,Insult to the modesty of women 17,Kidnapping and Abduction,Rape 17
0,Andhra Pradesh,152,5129,7156,1998,1018,1163
1,Arunachal Pradesh,0,97,56,5,117,83
2,Assam,171,3569,9782,108,7857,2150
3,Bihar,1081,197,3776,1,8479,922
4,Chhattisgarh,74,1899,582,144,2109,1927
5,Goa,1,134,21,31,86,76
6,Gujarat,9,1058,3223,17,2094,491
7,Haryana,245,2031,3326,179,4401,1244
8,Himachal Pradesh,3,397,191,52,339,257
9,Jammu & Kashmir,8,1417,377,41,995,317
10,Jharkhand,248,748,998,104,1577,1082
11,Karnataka,206,5763,2332,212,3005,558
12,Kerala,12,4413,2856,421,293,2060
13,Madhya Pradesh,632,9252,6099,277,7807,5623
14,Maharashtra,233,9392,6584,919,10324,1942
15,Manipur,0,66,19,8,142,44
16,Meghalaya,1,88,20,21,148,139
17,Mizoram,0,64,20,2,4,26
18,Nagaland,0,12,3,0,66,12
19,Odisha,326,9132,2525,490,3349,2221
20,Punjab,68,933,1199,22,1386,609
21,Rajasthan,457,4883,11508,24,5216,3855
22,Sikkim,0,21,5,7,71,19
23,Tamil Nadu,48,744,984,9,1027,294
24,Telangana,251,4409,7838,1160,1560,590
25,Tripura,33,225,348,9,122,112
26,Uttar Pradesh,2524,12607,12653,91,19921,4847
27,Uttarakhand,60,435,394,4,800,393
28,West Bengal,499,3832,16800,448,5205,2309
29,Total State(S),7342,82947,101675,6804,89518,35365
30,A&N Islands,1,38,4,11,34,13
31,Chandigarh,1,100,121,12,203,68
32,D&N Haveli,0,3,4,0,14,1
33,Daman & Diu,0,6,5,1,14,7
34,Delhi,120,2874,2735,619,6095,1249
35,Lakshadweep,0,0,2,0,0,0
36,Puducherry,2,33,5,4,15,10
37,Total UT(S),124,3054,2876,647,6375,1348
38,Total All India,7466,86001,104551,7451,95893,36713

In [143]:
temp_df.set_index(['State/UT (Col.3)'],inplace=True)

In [144]:
temp_df.drop(['Total All India','Total State(S)'],inplace=True)

In [145]:
temp_df.rename(columns={'A&N Islands':'A & N Islands'},inplace=True)

In [146]:
new_df

,Rape 16,Dowry Deaths 16,Assault on women with intent to outrage her modesty 16,Cruelty By Husband or his relatives 16,Insult to the modesty of women 16,Kidnapping and Abduction 16
ST,,,,,,
Andhra Pradesh,994,193,4829,6461,1831,917
Arunachal Pradesh,92,1,109,50,10,112
Assam,1779,157,3378,9321,34,6126
Bihar,1008,987,324,3794,167,7324
Chhattisgarh,1626,84,1770,622,101,2071
Goa,61,2,143,23,32,106
Gujarat,982,12,1224,3732,59,2784
Haryana,1187,260,1860,3313,124,3932
Himachal Pradesh,252,3,410,214,49,290
Jammu & Kashmir,256,6,1235,342,153,810
Jharkhand,1109,278,667,1002,13,1309
Karnataka,1655,234,5260,2556,160,2916
Kerala,1656,25,4029,3455,328,241
Madhya Pradesh,4882,629,8717,6264,358,7123
Maharashtra,4189,248,11396,7215,924,9333
Manipur,55,0,65,29,5,145
Meghalaya,190,0,68,26,17,156
Mizoram,23,0,71,19,1,6
Nagaland,26,1,14,3,8,91
Odisha,1983,397,8252,2781,437,3046
Punjab,838,80,1025,1568,10,1591
Rajasthan,3656,462,4839,13811,15,5299
Sikkim,92,0,34,2,11,12
Tamil Nadu,319,58,854,1256,27,1223
Telangana,1278,254,3767,7202,1003,1302
Tripura,207,19,214,430,1,139
Uttar Pradesh,4816,2473,11335,11156,35,15898
Uttarakhand,336,57,344,392,3,790
West Bengal,1110,535,4177,19302,449,6045
A & N Islands,30,0,46,7,2,26
Chandigarh,68,4,76,122,13,180
D&N Haveli,14,0,1,6,1,10
Daman & Diu,12,0,4,8,2,21
Delhi,2155,162,4165,3877,918,6619
Lakshadweep,5,0,1,2,1,0
Puducherry,6,0,43,15,3,15
Total (UTs),2290,166,4336,4037,940,6871

In [147]:
new_df.drop(['Total (UTs)'],inplace=True)

In [148]:
new_df['Rape 17']=temp_df['Rape 17']
new_df.at['A & N Islands','Rape 17']=13
new_df['Rape 17']=new_df['Rape 17'].astype(int)

In [149]:
new_df

,Rape 16,Dowry Deaths 16,Assault on women with intent to outrage her modesty 16,Cruelty By Husband or his relatives 16,Insult to the modesty of women 16,Kidnapping and Abduction 16,Rape 17
ST,,,,,,,
Andhra Pradesh,994,193,4829,6461,1831,917,1163
Arunachal Pradesh,92,1,109,50,10,112,83
Assam,1779,157,3378,9321,34,6126,2150
Bihar,1008,987,324,3794,167,7324,922
Chhattisgarh,1626,84,1770,622,101,2071,1927
Goa,61,2,143,23,32,106,76
Gujarat,982,12,1224,3732,59,2784,491
Haryana,1187,260,1860,3313,124,3932,1244
Himachal Pradesh,252,3,410,214,49,290,257
Jammu & Kashmir,256,6,1235,342,153,810,317
Jharkhand,1109,278,667,1002,13,1309,1082
Karnataka,1655,234,5260,2556,160,2916,558
Kerala,1656,25,4029,3455,328,241,2060
Madhya Pradesh,4882,629,8717,6264,358,7123,5623
Maharashtra,4189,248,11396,7215,924,9333,1942
Manipur,55,0,65,29,5,145,44
Meghalaya,190,0,68,26,17,156,139
Mizoram,23,0,71,19,1,6,26
Nagaland,26,1,14,3,8,91,12
Odisha,1983,397,8252,2781,437,3046,2221
Punjab,838,80,1025,1568,10,1591,609
Rajasthan,3656,462,4839,13811,15,5299,3855
Sikkim,92,0,34,2,11,12,19
Tamil Nadu,319,58,854,1256,27,1223,294
Telangana,1278,254,3767,7202,1003,1302,590
Tripura,207,19,214,430,1,139,112
Uttar Pradesh,4816,2473,11335,11156,35,15898,4847
Uttarakhand,336,57,344,392,3,790,393
West Bengal,1110,535,4177,19302,449,6045,2309
A & N Islands,30,0,46,7,2,26,13
Chandigarh,68,4,76,122,13,180,68
D&N Haveli,14,0,1,6,1,10,1
Daman & Diu,12,0,4,8,2,21,7
Delhi,2155,162,4165,3877,918,6619,1249
Lakshadweep,5,0,1,2,1,0,0
Puducherry,6,0,43,15,3,15,10

In [150]:
new_df.sample()

,Rape 16,Dowry Deaths 16,Assault on women with intent to outrage her modesty 16,Cruelty By Husband or his relatives 16,Insult to the modesty of women 16,Kidnapping and Abduction 16,Rape 17
ST,,,,,,,
Chandigarh,68,4,76,122,13,180,68

In [151]:
temp_df.loc[['A&N Islands']]

,Dowry Deaths 17,Assault on women with intent to outrage her modesty 17,Cruelty By Husband or his relatives 17,Insult to the modesty of women 17,Kidnapping and Abduction,Rape 17
State/UT (Col.3),,,,,,
A&N Islands,1,38,4,11,34,13

In [152]:
new_df['Dowry Deaths 17']=temp_df['Dowry Deaths 17']
new_df['Assault on women with intent to outrage her modesty 17']=temp_df['Assault on women with intent to outrage her modesty 17']
new_df['Cruelty By Husband or his relatives 17']=temp_df['Cruelty By Husband or his relatives 17']
new_df['Insult to the modesty of women 17']=temp_df['Insult to the modesty of women 17']
new_df['Kidnapping and Abduction 17']=temp_df['Kidnapping and Abduction']

In [153]:
new_df.at['A & N Islands','Dowry Deaths 17']=1
new_df.at['A & N Islands','Assault on women with intent to outrage her modesty 17']=38
new_df.at['A & N Islands','Cruelty By Husband or his relatives 17']=4
new_df.at['A & N Islands','Insult to the modesty of women 17']=11
new_df.at['A & N Islands','Kidnapping and Abduction 17']=34

new_df[['Assault on women with intent to outrage her modesty 17','Insult to the modesty of women 17','Dowry Deaths 17','Kidnapping and Abduction 17','Cruelty By Husband or his relatives 17']]=new_df[['Assault on women with intent to outrage her modesty 17','Insult to the modesty of women 17','Dowry Deaths 17','Kidnapping and Abduction 17','Cruelty By Husband or his relatives 17']].astype(int)

In [154]:
new_df

,Rape 16,Dowry Deaths 16,Assault on women with intent to outrage her modesty 16,Cruelty By Husband or his relatives 16,Insult to the modesty of women 16,Kidnapping and Abduction 16,Rape 17,Dowry Deaths 17,Assault on women with intent to outrage her modesty 17,Cruelty By Husband or his relatives 17,Insult to the modesty of women 17,Kidnapping and Abduction 17
ST,,,,,,,,,,,,
Andhra Pradesh,994,193,4829,6461,1831,917,1163,152,5129,7156,1998,1018
Arunachal Pradesh,92,1,109,50,10,112,83,0,97,56,5,117
Assam,1779,157,3378,9321,34,6126,2150,171,3569,9782,108,7857
Bihar,1008,987,324,3794,167,7324,922,1081,197,3776,1,8479
Chhattisgarh,1626,84,1770,622,101,2071,1927,74,1899,582,144,2109
Goa,61,2,143,23,32,106,76,1,134,21,31,86
Gujarat,982,12,1224,3732,59,2784,491,9,1058,3223,17,2094
Haryana,1187,260,1860,3313,124,3932,1244,245,2031,3326,179,4401
Himachal Pradesh,252,3,410,214,49,290,257,3,397,191,52,339
Jammu & Kashmir,256,6,1235,342,153,810,317,8,1417,377,41,995
Jharkhand,1109,278,667,1002,13,1309,1082,248,748,998,104,1577
Karnataka,1655,234,5260,2556,160,2916,558,206,5763,2332,212,3005
Kerala,1656,25,4029,3455,328,241,2060,12,4413,2856,421,293
Madhya Pradesh,4882,629,8717,6264,358,7123,5623,632,9252,6099,277,7807
Maharashtra,4189,248,11396,7215,924,9333,1942,233,9392,6584,919,10324
Manipur,55,0,65,29,5,145,44,0,66,19,8,142
Meghalaya,190,0,68,26,17,156,139,1,88,20,21,148
Mizoram,23,0,71,19,1,6,26,0,64,20,2,4
Nagaland,26,1,14,3,8,91,12,0,12,3,0,66
Odisha,1983,397,8252,2781,437,3046,2221,326,9132,2525,490,3349
Punjab,838,80,1025,1568,10,1591,609,68,933,1199,22,1386
Rajasthan,3656,462,4839,13811,15,5299,3855,457,4883,11508,24,5216
Sikkim,92,0,34,2,11,12,19,0,21,5,7,71
Tamil Nadu,319,58,854,1256,27,1223,294,48,744,984,9,1027
Telangana,1278,254,3767,7202,1003,1302,590,251,4409,7838,1160,1560
Tripura,207,19,214,430,1,139,112,33,225,348,9,122
Uttar Pradesh,4816,2473,11335,11156,35,15898,4847,2524,12607,12653,91,19921
Uttarakhand,336,57,344,392,3,790,393,60,435,394,4,800
West Bengal,1110,535,4177,19302,449,6045,2309,499,3832,16800,448,5205
A & N Islands,30,0,46,7,2,26,13,1,38,4,11,34
Chandigarh,68,4,76,122,13,180,68,1,100,121,12,203
D&N Haveli,14,0,1,6,1,10,1,0,3,4,0,14
Daman & Diu,12,0,4,8,2,21,7,0,6,5,1,14
Delhi,2155,162,4165,3877,918,6619,1249,120,2874,2735,619,6095
Lakshadweep,5,0,1,2,1,0,0,0,0,2,0,0
Puducherry,6,0,43,15,3,15,10,2,33,5,4,15

## Added 2017 data to the dataframe

In [155]:
new_df.sample(5)

,Rape 16,Dowry Deaths 16,Assault on women with intent to outrage her modesty 16,Cruelty By Husband or his relatives 16,Insult to the modesty of women 16,Kidnapping and Abduction 16,Rape 17,Dowry Deaths 17,Assault on women with intent to outrage her modesty 17,Cruelty By Husband or his relatives 17,Insult to the modesty of women 17,Kidnapping and Abduction 17
ST,,,,,,,,,,,,
Madhya Pradesh,4882,629,8717,6264,358,7123,5623,632,9252,6099,277,7807
West Bengal,1110,535,4177,19302,449,6045,2309,499,3832,16800,448,5205
Uttar Pradesh,4816,2473,11335,11156,35,15898,4847,2524,12607,12653,91,19921
Chhattisgarh,1626,84,1770,622,101,2071,1927,74,1899,582,144,2109
Rajasthan,3656,462,4839,13811,15,5299,3855,457,4883,11508,24,5216

### Adding 2018 data

In [156]:
l_df=pd.read_csv("2018.csv")

In [157]:
l_df.columns

Index(['S. No (Col.1)', 'Category (Col.2)', 'State/UT (Col.3)',
       'Offences affecting the Human Body - Dowry Deaths (Sec.304-B IPC) - I (Col.34)',
       'Offences affecting the Human Body - Dowry Deaths (Sec.304-B IPC) - V (Col.35)',
       'Offences affecting the Human Body - Dowry Deaths (Sec.304-B IPC) - R (Col.36)',
       'Offences affecting the Human Body - Abetment of Suicide (Sec.305/306 IPC) - I (Col.37)',
       'Offences affecting the Human Body - Abetment of Suicide (Sec.305/306 IPC) - V (Col.38)',
       'Offences affecting the Human Body - Abetment of Suicide (Sec.305/306 IPC) - R (Col.39)',
       'Offences affecting the Human Body - Attempt to Commit Murder (Sec.307 IPC) - I (Col.40)',
       'Offences affecting the Human Body - Attempt to Commit Murder (Sec.307 IPC) - V (Col.41)',
       'Offences affecting the Human Body - Attempt to Commit Murder (Sec.307 IPC) - R (Col.42)',
       'Offences affecting the Human Body - Attempt to commit Culpable Homicide (Sec.308 IPC) - I (Col.43)',
       'Offences affecting the Human Body - Attempt to commit Culpable Homicide (Sec.308 IPC) - V (Col.44)',
       'Offences affecting the Human Body - Attempt to commit Culpable Homicide (Sec.308 IPC) - R (Col.45)',
       'Offences affecting the Human Body - Attempt to Commit Suicide (Sec.309 IPC) - I (Col.46)',
       'Offences affecting the Human Body - Attempt to Commit Suicide (Sec.309 IPC) - V (Col.47)',
       'Offences affecting the Human Body - Miscarriage, Infanticide, Foeticide and Abandonment (Sec.313 to 318 IPC) - I (Col.49)',
       'Offences affecting the Human Body - Miscarriage, Infanticide, Foeticide and Abandonment (Sec.313 to 318 IPC) - V (Col.50)',
       'Offences affecting the Human Body - Miscarriage, Infanticide, Foeticide and Abandonment (Sec.313 to 318 IPC) - R (Col.51)',
       'Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty (Sec.354 IPC) - Total - I (Col.100)',
       'Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty (Sec.354 IPC) - Total - V (Col.101)',
       'Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty (Sec.354 IPC) - Total - R (Col.102)',
       'Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty - Assault on Women (Sec.354 IPC) - I (Col.103)',
       'Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty - Assault on Women (Sec.354 IPC) - V (Col.104)',
       'Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty - Assault on Women (Sec.354 IPC) - R (Col.105)',
       'Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty - Sexual Harassment (Sec.354A IPC) - Total - I (Col.106)',
       'Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty - Sexual Harassment (Sec.354A IPC) - Total - V (Col.107)',
       'Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty - Sexual Harassment (Sec.354A IPC) - Total - R (Col.108)',
       'Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty - Sexual Harassment - a) at Work or Office Premises - I (Col.109)',
       'Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty - Sexual Harassment - a) at Work or Office Premises - V (Col.110)',
       'Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty - Sexual Harassment - a) at Work or Office Premises - R (Col.111)',
       'Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty - Sexual Harassment - b) In Public Transport System - I (Col.112)',
       'Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty - Sexual Harassment - b) In Public Transport System - V (Col.113)',
       'Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty - Sexual Harassment - b) In Public Transport System - R (Col.114)',
       'Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty - Sexual Harassment - c) In Shelter Homes for women and Children - I (Col.115)',
       'Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty - Sexual Harassment - c) In Shelter Homes for women and Children - V (Col.116)',
       'Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty - Sexual Harassment - c) In Shelter Homes for women and Children - R (Col.117)',
       'Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty - Sexual Harassment - d) Other Places - I (Col.118)',
       'Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty - Sexual Harassment - d) Other Places - V (Col.119)',
       'Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty - Sexual Harassment - d) Other Places - R (Col.120)',
       'Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty - Assault or use of Criminal Force on women with intent to Disrobe (Sec.354B IPC) - I (Col.121)',
       'Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty - Assault or use of Criminal Force on women with intent to Disrobe (Sec.354B IPC) - V (Col.122)',
       'Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty - Assault or use of Criminal Force on women with intent to Disrobe (Sec.354B IPC) - R (Col.123)',
       'Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty - Voyeurism (Sec.354C IPC) - I (Col.124)',
       'Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty - Voyeurism (Sec.354C IPC) - V (Col.125)',
       'Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty - Voyeurism (Sec.354C IPC) - R (Col.126)',
       'Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty - Stalking (Sec.354D IPC) - I (Col.127)',
       'Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty - Stalking (Sec.354D IPC) - V (Col.128)',
       'Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty - Stalking (Sec.354D IPC) - R (Col.129)',
       'Offences affecting the Human Body - Kidnapping and Abduction - Sec.363 IPC - I (Col.133)',
       'Offences affecting the Human Body - Kidnapping and Abduction - Sec.363 IPC - V (Col.134)',
       'Offences affecting the Human Body - Kidnapping and Abduction - Sec.363 IPC - R (Col.135)',
       'Offences affecting the Human Body - Kidnapping and Abduction - Procuration of Minor Girls (Sec.366A) - I (Col.154)',
       'Offences affecting the Human Body - Kidnapping and Abduction - Procuration of Minor Girls (Sec.366A) - V (Col.155)',
       'Offences affecting the Human Body - Kidnapping and Abduction - Procuration of Minor Girls (Sec.366A) - R (Col.156)',
       'Offences affecting the Human Body - Kidnapping and Abduction - Importation of Girls from Foreign Country (Sec.366-B IPC) - I (Col.157)',
       'Offences affecting the Human Body - Kidnapping and Abduction - Importation of Girls from Foreign Country (Sec.366-B IPC) - V (Col.158)',
       'Offences affecting the Human Body - Kidnapping and Abduction - Importation of Girls from Foreign Country (Sec.366-B IPC) - R (Col.159)',
       'Offences affecting the Human Body - Human Trafficking (U/S 370) - I (Col.163)',
       'Offences affecting the Human Body - Human Trafficking (U/S 370) - V (Col.164)',
       'Offences affecting the Human Body - Human Trafficking (U/S 370) - R (Col.165)',
       'Offences affecting the Human Body - Exploitation of Trafficked Person 370A IPC) - I (Col.166)',
       'Offences affecting the Human Body - Exploitation of Trafficked Person 370A IPC) - V (Col.167)',
       'Offences affecting the Human Body - Exploitation of Trafficked Person 370A IPC) - R (Col.168)',
       'Offences affecting the Human Body - Selling of Minors for Prostitution (Sec.372 IPC) - I (Col.169)',
       'Offences affecting the Human Body - Selling of Minors for Prostitution (Sec.372 IPC) - V (Col.170)',
       'Offences affecting the Human Body - Selling of Minors for Prostitution (Sec.372 IPC) - R (Col.171)',
       'Offences affecting the Human Body - Buying of Minors for Prostitution (Sec.373 IPC) - I (Col.172)',
       'Offences affecting the Human Body - Buying of Minors for Prostitution (Sec.373 IPC) - V (Col.173)',
       'Offences affecting the Human Body - Buying of Minors for Prostitution (Sec.373 IPC) - R (Col.174)',
       'Offences affecting the Human Body - Rape (Sec.376 IPC) - I (Col.175)',
       'Offences affecting the Human Body - Rape (Sec.376 IPC) - V (Col.176)',
       'Offences affecting the Human Body - Rape (Sec.376 IPC) - R (Col.177)',
       'Offences affecting the Human Body - Attempt to Commit Rape (Sec.376/511 IPC) - I (Col.178)',
       'Offences affecting the Human Body - Attempt to Commit Rape (Sec.376/511 IPC) - V (Col.179)',
       'Offences affecting the Human Body - Attempt to Commit Rape (Sec.376/511 IPC) - R (Col.180)',
       'Miscellaneous IPC Crimes - Cruelty by Husband or his Relatives (Sec.498-A IPC) - I (Col.408)',
       'Miscellaneous IPC Crimes - Cruelty by Husband or his Relatives (Sec.498-A IPC) - V (Col.409)',
       'Miscellaneous IPC Crimes - Cruelty by Husband or his Relatives (Sec.498-A IPC) - R (Col.410)',
       'Miscellaneous IPC Crimes - Insult to the Modesty of Women (Sec.509 IPC) - I (Col.417)',
       'Miscellaneous IPC Crimes - Insult to the Modesty of Women (Sec.509 IPC) - V (Col.418)',
       'Miscellaneous IPC Crimes - Insult to the Modesty of Women (Sec.509 IPC) - R (Col.419)'],
      dtype='object')

In [158]:
df_18=l_df.filter(['State/UT (Col.3)','Offences affecting the Human Body - Rape (Sec.376 IPC) - I (Col.175)','Offences affecting the Human Body - Attempt to Commit Rape (Sec.376/511 IPC) - I (Col.178)','Offences affecting the Human Body - Dowry Deaths (Sec.304-B IPC) - I (Col.34)','Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty (Sec.354 IPC) - Total - I (Col.100)','Miscellaneous IPC Crimes - Cruelty by Husband or his Relatives (Sec.498-A IPC) - I (Col.408)','Miscellaneous IPC Crimes - Insult to the Modesty of Women (Sec.509 IPC) - I (Col.417)','Offences affecting the Human Body - Kidnapping and Abduction - Sec.363 IPC - I (Col.133)'],axis=1)

In [159]:
df_18.head(10)

,State/UT (Col.3),Offences affecting the Human Body - Rape (Sec.376 IPC) - I (Col.175),Offences affecting the Human Body - Attempt to Commit Rape (Sec.376/511 IPC) - I (Col.178),Offences affecting the Human Body - Dowry Deaths (Sec.304-B IPC) - I (Col.34),Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty (Sec.354 IPC) - Total - I (Col.100),Miscellaneous IPC Crimes - Cruelty by Husband or his Relatives (Sec.498-A IPC) - I (Col.408),Miscellaneous IPC Crimes - Insult to the Modesty of Women (Sec.509 IPC) - I (Col.417),Offences affecting the Human Body - Kidnapping and Abduction - Sec.363 IPC - I (Col.133)
0,Andhra Pradesh,971,191,140,4445,6831,1802,695
1,Arunachal Pradesh,67,11,0,103,60,12,75
2,Assam,1648,527,173,4180,11136,171,2598
3,Bihar,651,110,1107,262,2539,30,1965
4,Chhattisgarh,2091,27,79,1854,503,184,1924
5,Goa,61,0,0,125,9,26,76
6,Gujarat,553,4,9,1208,2923,12,1053
7,Haryana,1296,176,216,2671,4154,192,657
8,Himachal Pradesh,344,11,4,513,183,78,172
9,Jammu & Kashmir,320,23,8,1597,325,25,457

In [160]:
df_18['Rape 18']=df_18['Offences affecting the Human Body - Rape (Sec.376 IPC) - I (Col.175)']+df_18['Offences affecting the Human Body - Attempt to Commit Rape (Sec.376/511 IPC) - I (Col.178)']

In [161]:
df_18.rename(columns={'State/UT (Col.3)':'ST','Offences affecting the Human Body - Dowry Deaths (Sec.304-B IPC) - I (Col.34)':'Dowry Deaths 18','Offences affecting the Human Body - Assault on Women with Intent to Outrage her Modesty (Sec.354 IPC) - Total - I (Col.100)':'Assault on women with intent to outrage her modesty 18','Miscellaneous IPC Crimes - Cruelty by Husband or his Relatives (Sec.498-A IPC) - I (Col.408)':'Cruelty by Husband or his Relatives 18','Miscellaneous IPC Crimes - Insult to the Modesty of Women (Sec.509 IPC) - I (Col.417)':'Insult to the Modesty of Women 18','Offences affecting the Human Body - Kidnapping and Abduction - Sec.363 IPC - I (Col.133)':'Kidnapping and Abduction 18'},inplace=True)

In [162]:
df_18.sample(5)

,ST,Offences affecting the Human Body - Rape (Sec.376 IPC) - I (Col.175),Offences affecting the Human Body - Attempt to Commit Rape (Sec.376/511 IPC) - I (Col.178),Dowry Deaths 18,Assault on women with intent to outrage her modesty 18,Cruelty by Husband or his Relatives 18,Insult to the Modesty of Women 18,Kidnapping and Abduction 18,Rape 18
1,Arunachal Pradesh,67,11,0,103,60,12,75,78
7,Haryana,1296,176,216,2671,4154,192,657,1472
4,Chhattisgarh,2091,27,79,1854,503,184,1924,2118
9,Jammu & Kashmir,320,23,8,1597,325,25,457,343
5,Goa,61,0,0,125,9,26,76,61

In [163]:
df_18.drop(columns=['Offences affecting the Human Body - Rape (Sec.376 IPC) - I (Col.175)','Offences affecting the Human Body - Attempt to Commit Rape (Sec.376/511 IPC) - I (Col.178)'],inplace=True)

In [164]:
df_18.set_index(['ST'],inplace=True)

In [165]:
df_18

,Dowry Deaths 18,Assault on women with intent to outrage her modesty 18,Cruelty by Husband or his Relatives 18,Insult to the Modesty of Women 18,Kidnapping and Abduction 18,Rape 18
ST,,,,,,
Andhra Pradesh,140,4445,6831,1802,695,1162
Arunachal Pradesh,0,103,60,12,75,78
Assam,173,4180,11136,171,2598,2175
Bihar,1107,262,2539,30,1965,761
Chhattisgarh,79,1854,503,184,1924,2118
Goa,0,125,9,26,76,61
Gujarat,9,1208,2923,12,1053,557
Haryana,216,2671,4154,192,657,1472
Himachal Pradesh,4,513,183,78,172,355
Jammu & Kashmir,8,1597,325,25,457,343
Jharkhand,252,1378,1032,37,472,1341
Karnataka,200,5204,2053,138,2687,502
Kerala,17,4544,2046,461,178,2003
Madhya Pradesh,547,8790,4159,270,6725,5506
Maharashtra,200,10835,6862,1074,10331,2146
Manipur,0,56,14,8,11,58
Meghalaya,1,95,18,16,76,109
Mizoram,0,67,6,1,1,50
Nagaland,0,10,3,5,63,10
Odisha,372,9973,1984,506,3673,1074
Punjab,67,956,1470,19,130,910
Rajasthan,404,5249,12250,34,2568,4955
Sikkim,1,23,1,5,71,17
Tamil Nadu,55,814,789,14,271,344
Telangana,186,4567,6286,878,1162,644
Tripura,18,165,303,6,72,130
Uttar Pradesh,2444,12555,14233,17,7084,4607
Uttarakhand,63,548,622,8,357,580
West Bengal,444,3399,16951,391,3365,2013
A&N Islands,0,35,4,4,33,30
Chandigarh,6,100,93,3,156,95
D&N Haveli,0,6,1,2,6,7
Daman & Diu,0,5,4,1,29,3
Delhi,153,2705,3416,552,5621,1226
Lakshadweep,0,0,1,1,0,2
Puducherry,0,60,8,9,34,9

In [166]:
new_df['Rape 18']=df_18['Rape 18']

In [172]:
new_df

,Rape 16,Dowry Deaths 16,Assault on women with intent to outrage her modesty 16,Cruelty By Husband or his relatives 16,Insult to the modesty of women 16,Kidnapping and Abduction 16,Rape 17,Dowry Deaths 17,Assault on women with intent to outrage her modesty 17,Cruelty By Husband or his relatives 17,Insult to the modesty of women 17,Kidnapping and Abduction 17,Rape 18
ST,,,,,,,,,,,,,
Andhra Pradesh,994,193,4829,6461,1831,917,1163,152,5129,7156,1998,1018,1162.0
Arunachal Pradesh,92,1,109,50,10,112,83,0,97,56,5,117,78.0
Assam,1779,157,3378,9321,34,6126,2150,171,3569,9782,108,7857,2175.0
Bihar,1008,987,324,3794,167,7324,922,1081,197,3776,1,8479,761.0
Chhattisgarh,1626,84,1770,622,101,2071,1927,74,1899,582,144,2109,2118.0
Goa,61,2,143,23,32,106,76,1,134,21,31,86,61.0
Gujarat,982,12,1224,3732,59,2784,491,9,1058,3223,17,2094,557.0
Haryana,1187,260,1860,3313,124,3932,1244,245,2031,3326,179,4401,1472.0
Himachal Pradesh,252,3,410,214,49,290,257,3,397,191,52,339,355.0
Jammu & Kashmir,256,6,1235,342,153,810,317,8,1417,377,41,995,343.0
Jharkhand,1109,278,667,1002,13,1309,1082,248,748,998,104,1577,1341.0
Karnataka,1655,234,5260,2556,160,2916,558,206,5763,2332,212,3005,502.0
Kerala,1656,25,4029,3455,328,241,2060,12,4413,2856,421,293,2003.0
Madhya Pradesh,4882,629,8717,6264,358,7123,5623,632,9252,6099,277,7807,5506.0
Maharashtra,4189,248,11396,7215,924,9333,1942,233,9392,6584,919,10324,2146.0
Manipur,55,0,65,29,5,145,44,0,66,19,8,142,58.0
Meghalaya,190,0,68,26,17,156,139,1,88,20,21,148,109.0
Mizoram,23,0,71,19,1,6,26,0,64,20,2,4,50.0
Nagaland,26,1,14,3,8,91,12,0,12,3,0,66,10.0
Odisha,1983,397,8252,2781,437,3046,2221,326,9132,2525,490,3349,1074.0
Punjab,838,80,1025,1568,10,1591,609,68,933,1199,22,1386,910.0
Rajasthan,3656,462,4839,13811,15,5299,3855,457,4883,11508,24,5216,4955.0
Sikkim,92,0,34,2,11,12,19,0,21,5,7,71,17.0
Tamil Nadu,319,58,854,1256,27,1223,294,48,744,984,9,1027,344.0
Telangana,1278,254,3767,7202,1003,1302,590,251,4409,7838,1160,1560,644.0
Tripura,207,19,214,430,1,139,112,33,225,348,9,122,130.0
Uttar Pradesh,4816,2473,11335,11156,35,15898,4847,2524,12607,12653,91,19921,4607.0
Uttarakhand,336,57,344,392,3,790,393,60,435,394,4,800,580.0
West Bengal,1110,535,4177,19302,449,6045,2309,499,3832,16800,448,5205,2013.0
A & N Islands,30,0,46,7,2,26,13,1,38,4,11,34,NaN
Chandigarh,68,4,76,122,13,180,68,1,100,121,12,203,95.0
D&N Haveli,14,0,1,6,1,10,1,0,3,4,0,14,7.0
Daman & Diu,12,0,4,8,2,21,7,0,6,5,1,14,3.0
Delhi,2155,162,4165,3877,918,6619,1249,120,2874,2735,619,6095,1226.0
Lakshadweep,5,0,1,2,1,0,0,0,0,2,0,0,2.0
Puducherry,6,0,43,15,3,15,10,2,33,5,4,15,9.0

In [173]:
new_df['Dowry Deaths 18']=df_18['Dowry Deaths 18']
new_df['Assault on women with intent to outrage her modesty 18']=df_18['Assault on women with intent to outrage her modesty 18']
new_df['Cruelty by Husband or his Relatives 18']=df_18['Cruelty by Husband or his Relatives 18']
new_df['Insult to the Modesty of Women 18']=df_18['Insult to the Modesty of Women 18']
new_df['Kidnapping and Abduction 18']=df_18['Kidnapping and Abduction 18']

In [181]:
new_df.at['A & N Islands','Dowry Deaths 18']=0
new_df.at['A & N Islands','Assault on women with intent to outrage her modesty 18']=35
new_df.at['A & N Islands','Cruelty by Husband or his Relatives 18']=4
new_df.at['A & N Islands','Insult to the Modesty of Women 18']=4
new_df.at['A & N Islands','Kidnapping and Abduction 18']=33
new_df.at['A & N Islands','Rape 18']=30

new_df[['Dowry Deaths 18','Assault on women with intent to outrage her modesty 18','Cruelty by Husband or his Relatives 18','Insult to the Modesty of Women 18','Kidnapping and Abduction 18','Rape 18']]=new_df[['Dowry Deaths 18','Assault on women with intent to outrage her modesty 18','Cruelty by Husband or his Relatives 18','Insult to the Modesty of Women 18','Kidnapping and Abduction 18','Rape 18']].astype(int)

In [182]:
new_df

,Rape 16,Dowry Deaths 16,Assault on women with intent to outrage her modesty 16,Cruelty By Husband or his relatives 16,Insult to the modesty of women 16,Kidnapping and Abduction 16,Rape 17,Dowry Deaths 17,Assault on women with intent to outrage her modesty 17,Cruelty By Husband or his relatives 17,Insult to the modesty of women 17,Kidnapping and Abduction 17,Rape 18,Dowry Deaths 18,Assault on women with intent to outrage her modesty 18,Cruelty by Husband or his Relatives 18,Insult to the Modesty of Women 18,Kidnapping and Abduction 18
ST,,,,,,,,,,,,,,,,,,
Andhra Pradesh,994,193,4829,6461,1831,917,1163,152,5129,7156,1998,1018,1162,140,4445,6831,1802,695
Arunachal Pradesh,92,1,109,50,10,112,83,0,97,56,5,117,78,0,103,60,12,75
Assam,1779,157,3378,9321,34,6126,2150,171,3569,9782,108,7857,2175,173,4180,11136,171,2598
Bihar,1008,987,324,3794,167,7324,922,1081,197,3776,1,8479,761,1107,262,2539,30,1965
Chhattisgarh,1626,84,1770,622,101,2071,1927,74,1899,582,144,2109,2118,79,1854,503,184,1924
Goa,61,2,143,23,32,106,76,1,134,21,31,86,61,0,125,9,26,76
Gujarat,982,12,1224,3732,59,2784,491,9,1058,3223,17,2094,557,9,1208,2923,12,1053
Haryana,1187,260,1860,3313,124,3932,1244,245,2031,3326,179,4401,1472,216,2671,4154,192,657
Himachal Pradesh,252,3,410,214,49,290,257,3,397,191,52,339,355,4,513,183,78,172
Jammu & Kashmir,256,6,1235,342,153,810,317,8,1417,377,41,995,343,8,1597,325,25,457
Jharkhand,1109,278,667,1002,13,1309,1082,248,748,998,104,1577,1341,252,1378,1032,37,472
Karnataka,1655,234,5260,2556,160,2916,558,206,5763,2332,212,3005,502,200,5204,2053,138,2687
Kerala,1656,25,4029,3455,328,241,2060,12,4413,2856,421,293,2003,17,4544,2046,461,178
Madhya Pradesh,4882,629,8717,6264,358,7123,5623,632,9252,6099,277,7807,5506,547,8790,4159,270,6725
Maharashtra,4189,248,11396,7215,924,9333,1942,233,9392,6584,919,10324,2146,200,10835,6862,1074,10331
Manipur,55,0,65,29,5,145,44,0,66,19,8,142,58,0,56,14,8,11
Meghalaya,190,0,68,26,17,156,139,1,88,20,21,148,109,1,95,18,16,76
Mizoram,23,0,71,19,1,6,26,0,64,20,2,4,50,0,67,6,1,1
Nagaland,26,1,14,3,8,91,12,0,12,3,0,66,10,0,10,3,5,63
Odisha,1983,397,8252,2781,437,3046,2221,326,9132,2525,490,3349,1074,372,9973,1984,506,3673
Punjab,838,80,1025,1568,10,1591,609,68,933,1199,22,1386,910,67,956,1470,19,130
Rajasthan,3656,462,4839,13811,15,5299,3855,457,4883,11508,24,5216,4955,404,5249,12250,34,2568
Sikkim,92,0,34,2,11,12,19,0,21,5,7,71,17,1,23,1,5,71
Tamil Nadu,319,58,854,1256,27,1223,294,48,744,984,9,1027,344,55,814,789,14,271
Telangana,1278,254,3767,7202,1003,1302,590,251,4409,7838,1160,1560,644,186,4567,6286,878,1162
Tripura,207,19,214,430,1,139,112,33,225,348,9,122,130,18,165,303,6,72
Uttar Pradesh,4816,2473,11335,11156,35,15898,4847,2524,12607,12653,91,19921,4607,2444,12555,14233,17,7084
Uttarakhand,336,57,344,392,3,790,393,60,435,394,4,800,580,63,548,622,8,357
West Bengal,1110,535,4177,19302,449,6045,2309,499,3832,16800,448,5205,2013,444,3399,16951,391,3365
A & N Islands,30,0,46,7,2,26,13,1,38,4,11,34,30,0,35,4,4,33
Chandigarh,68,4,76,122,13,180,68,1,100,121,12,203,95,6,100,93,3,156
D&N Haveli,14,0,1,6,1,10,1,0,3,4,0,14,7,0,6,1,2,6
Daman & Diu,12,0,4,8,2,21,7,0,6,5,1,14,3,0,5,4,1,29
Delhi,2155,162,4165,3877,918,6619,1249,120,2874,2735,619,6095,1226,153,2705,3416,552,5621
Lakshadweep,5,0,1,2,1,0,0,0,0,2,0,0,2,0,0,1,1,0
Puducherry,6,0,43,15,3,15,10,2,33,5,4,15,9,0,60,8,9,34

In [183]:
new_df

,Rape 16,Dowry Deaths 16,Assault on women with intent to outrage her modesty 16,Cruelty By Husband or his relatives 16,Insult to the modesty of women 16,Kidnapping and Abduction 16,Rape 17,Dowry Deaths 17,Assault on women with intent to outrage her modesty 17,Cruelty By Husband or his relatives 17,Insult to the modesty of women 17,Kidnapping and Abduction 17,Rape 18,Dowry Deaths 18,Assault on women with intent to outrage her modesty 18,Cruelty by Husband or his Relatives 18,Insult to the Modesty of Women 18,Kidnapping and Abduction 18
ST,,,,,,,,,,,,,,,,,,
Andhra Pradesh,994,193,4829,6461,1831,917,1163,152,5129,7156,1998,1018,1162,140,4445,6831,1802,695
Arunachal Pradesh,92,1,109,50,10,112,83,0,97,56,5,117,78,0,103,60,12,75
Assam,1779,157,3378,9321,34,6126,2150,171,3569,9782,108,7857,2175,173,4180,11136,171,2598
Bihar,1008,987,324,3794,167,7324,922,1081,197,3776,1,8479,761,1107,262,2539,30,1965
Chhattisgarh,1626,84,1770,622,101,2071,1927,74,1899,582,144,2109,2118,79,1854,503,184,1924
Goa,61,2,143,23,32,106,76,1,134,21,31,86,61,0,125,9,26,76
Gujarat,982,12,1224,3732,59,2784,491,9,1058,3223,17,2094,557,9,1208,2923,12,1053
Haryana,1187,260,1860,3313,124,3932,1244,245,2031,3326,179,4401,1472,216,2671,4154,192,657
Himachal Pradesh,252,3,410,214,49,290,257,3,397,191,52,339,355,4,513,183,78,172
Jammu & Kashmir,256,6,1235,342,153,810,317,8,1417,377,41,995,343,8,1597,325,25,457
Jharkhand,1109,278,667,1002,13,1309,1082,248,748,998,104,1577,1341,252,1378,1032,37,472
Karnataka,1655,234,5260,2556,160,2916,558,206,5763,2332,212,3005,502,200,5204,2053,138,2687
Kerala,1656,25,4029,3455,328,241,2060,12,4413,2856,421,293,2003,17,4544,2046,461,178
Madhya Pradesh,4882,629,8717,6264,358,7123,5623,632,9252,6099,277,7807,5506,547,8790,4159,270,6725
Maharashtra,4189,248,11396,7215,924,9333,1942,233,9392,6584,919,10324,2146,200,10835,6862,1074,10331
Manipur,55,0,65,29,5,145,44,0,66,19,8,142,58,0,56,14,8,11
Meghalaya,190,0,68,26,17,156,139,1,88,20,21,148,109,1,95,18,16,76
Mizoram,23,0,71,19,1,6,26,0,64,20,2,4,50,0,67,6,1,1
Nagaland,26,1,14,3,8,91,12,0,12,3,0,66,10,0,10,3,5,63
Odisha,1983,397,8252,2781,437,3046,2221,326,9132,2525,490,3349,1074,372,9973,1984,506,3673
Punjab,838,80,1025,1568,10,1591,609,68,933,1199,22,1386,910,67,956,1470,19,130
Rajasthan,3656,462,4839,13811,15,5299,3855,457,4883,11508,24,5216,4955,404,5249,12250,34,2568
Sikkim,92,0,34,2,11,12,19,0,21,5,7,71,17,1,23,1,5,71
Tamil Nadu,319,58,854,1256,27,1223,294,48,744,984,9,1027,344,55,814,789,14,271
Telangana,1278,254,3767,7202,1003,1302,590,251,4409,7838,1160,1560,644,186,4567,6286,878,1162
Tripura,207,19,214,430,1,139,112,33,225,348,9,122,130,18,165,303,6,72
Uttar Pradesh,4816,2473,11335,11156,35,15898,4847,2524,12607,12653,91,19921,4607,2444,12555,14233,17,7084
Uttarakhand,336,57,344,392,3,790,393,60,435,394,4,800,580,63,548,622,8,357
West Bengal,1110,535,4177,19302,449,6045,2309,499,3832,16800,448,5205,2013,444,3399,16951,391,3365
A & N Islands,30,0,46,7,2,26,13,1,38,4,11,34,30,0,35,4,4,33
Chandigarh,68,4,76,122,13,180,68,1,100,121,12,203,95,6,100,93,3,156
D&N Haveli,14,0,1,6,1,10,1,0,3,4,0,14,7,0,6,1,2,6
Daman & Diu,12,0,4,8,2,21,7,0,6,5,1,14,3,0,5,4,1,29
Delhi,2155,162,4165,3877,918,6619,1249,120,2874,2735,619,6095,1226,153,2705,3416,552,5621
Lakshadweep,5,0,1,2,1,0,0,0,0,2,0,0,2,0,0,1,1,0
Puducherry,6,0,43,15,3,15,10,2,33,5,4,15,9,0,60,8,9,34

In [184]:
new_df.to_csv("2016-2018 MAJOR CRIMES")