In [43]:
import pandas as pd

In [44]:
df=pd.read_csv("2019.csv")

In [45]:
df

,ST,Rape,Dowry Deaths,Assault on Women with Intent to Outrage her Modesty,Cruelty by Husband or his relatives,Insult to the Modesty of Women,Kidnapping and Abduction
0,Andhra Pradesh,1263,112,4444,7851,1892,589
1,Arunachal Pradesh,65,1,80,54,6,68
2,Assam,2173,156,4619,11943,385,6989
3,Bihar,840,1120,312,2397,11,9025
4,Chhattisgarh,1045,76,1316,732,232,2033
5,Goa,72,1,119,9,37,52
6,Gujarat,529,9,1048,3619,16,922
7,Haryana,1674,248,2581,4867,173,2803
8,Himachal Pradesh,364,4,498,228,72,337
9,Jammu & Kashmir,236,8,1440,347,15,893
10,Jharkhand,1650,299,1646,1426,7,1008
11,Karnataka,517,194,4937,2472,107,1056
12,Kerala,2074,8,4507,2970,435,227
13,Madhya Pradesh,2524,550,5585,5486,174,6091
14,Maharashtra,2303,196,10472,8430,1074,6906
15,Manipur,37,0,59,15,7,84
16,Meghalaya,118,3,96,23,18,71
17,Mizoram,42,0,35,5,0,2
18,Nagaland,8,0,8,0,1,13
19,Odisha,1533,342,11308,2739,536,3934
20,Punjab,1111,69,944,1595,35,1534
21,Rajasthan,7016,452,8802,18432,69,5907
22,Sikkim,14,0,21,1,2,0
23,Tamil Nadu,370,28,803,781,7,699
24,Telangana,915,163,4190,8541,695,1322
25,Tripura,97,38,153,451,5,138
26,Uttar Pradesh,3423,2410,11988,18304,42,11649
27,Uttarakhand,547,57,475,644,10,375
28,West Bengal,2013,444,3399,16951,391,4249
29,A & N Islands,13,0,25,1,3,0
30,Chandigarh,114,6,66,177,15,129
31,D&N Haveli,0,3,3,3,0,1
32,Daman & Diu,4,2,5,4,3,2
33,Delhi UT,1263,116,2355,3792,456,3672
34,Lakshadweep,0,0,5,0,8,0
35,Puducherry,10,0,23,8,0,0

In [46]:
final_df=pd.read_csv("2015-2018 MAJOR CRIMES.csv")

In [47]:
final_df

,Unnamed: 0,ST,Rape 15,Dowry Deaths 15,Assault on women with intent to outrage her modesty 15,Cruelty By Husband or his relatives 15,Insult to the modesty of women 15,Kidnapping and Abduction 15,Rape 16,Dowry Deaths 16,...,Assault on women with intent to outrage her modesty 17,Cruelty By Husband or his relatives 17,Insult to the modesty of women 17,Kidnapping and Abduction 17,Rape 18,Dowry Deaths 18,Assault on women with intent to outrage her modesty 18,Cruelty by Husband or his relatives 18,Insult to the modesty of women 18,Kidnapping and Abduction 18
0,0,Andhra Pradesh,1027,174,4616,6121,2200,684,994,193,...,5129,7156,1998,1018,1162,140,4445,6831,1802,695
1,1,Arunachal Pradesh,71,0,101,66,2,128,92,1,...,97,56,5,117,78,0,103,60,12,75
2,2,Assam,1733,216,4293,11225,111,5039,1779,157,...,3569,9782,108,7857,2175,173,4180,11136,171,2598
3,3,Bihar,1041,1154,198,3792,96,5158,1008,987,...,197,3776,1,8479,761,1107,262,2539,30,1965
4,4,Chhattisgarh,1560,89,1868,620,53,1354,1626,84,...,1899,582,144,2109,2118,79,1854,503,184,1924
5,5,Goa,86,0,150,19,34,70,61,2,...,134,21,31,86,61,0,125,9,26,76
6,6,Gujarat,503,12,1164,4133,73,1569,982,12,...,1058,3223,17,2094,557,9,1208,2923,12,1053
7,7,Haryana,1070,243,1886,3525,90,2336,1187,260,...,2031,3326,179,4401,1472,216,2671,4154,192,657
8,8,Himachal Pradesh,244,2,434,226,58,239,252,3,...,397,191,52,339,355,4,513,183,78,172
9,9,Jammu & Kashmir,296,6,1343,400,175,1071,256,6,...,1417,377,41,995,343,8,1597,325,25,457
10,10,Jharkhand,1053,267,844,1654,10,930,1109,278,...,748,998,104,1577,1341,252,1378,1032,37,472
11,11,Karnataka,589,254,5112,2732,154,1611,1655,234,...,5763,2332,212,3005,502,200,5204,2053,138,2687
12,12,Kerala,1256,8,3987,3668,267,192,1656,25,...,4413,2856,421,293,2003,17,4544,2046,461,178
13,13,Madhya Pradesh,4391,664,8049,5281,390,4547,4882,629,...,9252,6099,277,7807,5506,547,8790,4159,270,6725
14,14,Maharashtra,4144,268,11713,7640,1119,5096,4189,248,...,9392,6584,919,10324,2146,200,10835,6862,1074,10331
15,15,Manipur,46,0,84,39,2,94,55,0,...,66,19,8,142,58,0,56,14,8,11
16,16,Meghalaya,93,1,95,44,20,58,190,0,...,88,20,21,148,109,1,95,18,16,76
17,17,Mizoram,58,0,75,9,2,8,23,0,...,64,20,2,4,50,0,67,6,1,1
18,18,Nagaland,35,0,8,4,9,30,26,1,...,12,3,0,66,10,0,10,3,5,63
19,19,Odisha,2251,356,6499,3605,472,2587,1983,397,...,9132,2525,490,3349,1074,372,9973,1984,506,3673
20,20,Punjab,886,85,1123,1583,27,1253,838,80,...,933,1199,22,1386,910,67,956,1470,19,130
21,21,Rajasthan,3644,463,4813,14383,9,4167,3656,462,...,4883,11508,24,5216,4955,404,5249,12250,34,2568
22,22,Sikkim,5,1,21,2,2,21,92,0,...,21,5,7,71,17,1,23,1,5,71
23,23,Tamil Nadu,421,65,1163,1900,20,1335,319,58,...,744,984,9,1027,344,55,814,789,14,271
24,24,Telangana,1105,262,3608,7329,1288,648,1278,254,...,4409,7838,1160,1560,644,186,4567,6286,878,1162
25,25,Tripura,213,28,352,501,6,120,207,19,...,225,348,9,122,130,18,165,303,6,72
26,26,Uttar Pradesh,3025,2335,7885,8660,11,10135,4816,2473,...,12607,12653,91,19921,4607,2444,12555,14233,17,7084
27,27,Uttarakhand,283,54,318,407,12,336,336,57,...,435,394,4,800,580,63,548,622,8,357
28,28,West Bengal,1199,498,5069,20163,455,3938,1110,535,...,3832,16800,448,5205,2013,444,3399,16951,391,4249
29,29,A & N Islands,36,0,57,14,5,21,30,0,...,38,4,11,34,30,0,35,4,4,33
30,30,Chandigarh,72,5,76,126,10,165,68,4,...,100,121,12,203,95,6,100,93,3,156
31,31,D&N Haveli,8,1,5,2,0,9,14,0,...,3,4,0,14,7,0,6,1,2,6
32,32,Daman & Diu,5,0,7,3,0,13,12,0,...,6,5,1,14,3,0,5,4,1,29
33,33,Delhi,2199,122,5367,3521,1492,4301,2155,162,...,2874,2735,619,6095,1226,153,2705,3416,552,5621
34,34,Lakshadweep,0,0,6,2,1,0,5,0,...,0,2,0,0,2,0,0,1,1,0
35,35,Puducherry,3,1,33,4,10,14,6,0,...,33,5,4,15,9,0,60,8,9,34

In [48]:
final_df.drop("Unnamed: 0",axis=1,inplace=True)

In [49]:
final_df

,ST,Rape 15,Dowry Deaths 15,Assault on women with intent to outrage her modesty 15,Cruelty By Husband or his relatives 15,Insult to the modesty of women 15,Kidnapping and Abduction 15,Rape 16,Dowry Deaths 16,Assault on women with intent to outrage her modesty 16,...,Assault on women with intent to outrage her modesty 17,Cruelty By Husband or his relatives 17,Insult to the modesty of women 17,Kidnapping and Abduction 17,Rape 18,Dowry Deaths 18,Assault on women with intent to outrage her modesty 18,Cruelty by Husband or his relatives 18,Insult to the modesty of women 18,Kidnapping and Abduction 18
0,Andhra Pradesh,1027,174,4616,6121,2200,684,994,193,4829,...,5129,7156,1998,1018,1162,140,4445,6831,1802,695
1,Arunachal Pradesh,71,0,101,66,2,128,92,1,109,...,97,56,5,117,78,0,103,60,12,75
2,Assam,1733,216,4293,11225,111,5039,1779,157,3378,...,3569,9782,108,7857,2175,173,4180,11136,171,2598
3,Bihar,1041,1154,198,3792,96,5158,1008,987,324,...,197,3776,1,8479,761,1107,262,2539,30,1965
4,Chhattisgarh,1560,89,1868,620,53,1354,1626,84,1770,...,1899,582,144,2109,2118,79,1854,503,184,1924
5,Goa,86,0,150,19,34,70,61,2,143,...,134,21,31,86,61,0,125,9,26,76
6,Gujarat,503,12,1164,4133,73,1569,982,12,1224,...,1058,3223,17,2094,557,9,1208,2923,12,1053
7,Haryana,1070,243,1886,3525,90,2336,1187,260,1860,...,2031,3326,179,4401,1472,216,2671,4154,192,657
8,Himachal Pradesh,244,2,434,226,58,239,252,3,410,...,397,191,52,339,355,4,513,183,78,172
9,Jammu & Kashmir,296,6,1343,400,175,1071,256,6,1235,...,1417,377,41,995,343,8,1597,325,25,457
10,Jharkhand,1053,267,844,1654,10,930,1109,278,667,...,748,998,104,1577,1341,252,1378,1032,37,472
11,Karnataka,589,254,5112,2732,154,1611,1655,234,5260,...,5763,2332,212,3005,502,200,5204,2053,138,2687
12,Kerala,1256,8,3987,3668,267,192,1656,25,4029,...,4413,2856,421,293,2003,17,4544,2046,461,178
13,Madhya Pradesh,4391,664,8049,5281,390,4547,4882,629,8717,...,9252,6099,277,7807,5506,547,8790,4159,270,6725
14,Maharashtra,4144,268,11713,7640,1119,5096,4189,248,11396,...,9392,6584,919,10324,2146,200,10835,6862,1074,10331
15,Manipur,46,0,84,39,2,94,55,0,65,...,66,19,8,142,58,0,56,14,8,11
16,Meghalaya,93,1,95,44,20,58,190,0,68,...,88,20,21,148,109,1,95,18,16,76
17,Mizoram,58,0,75,9,2,8,23,0,71,...,64,20,2,4,50,0,67,6,1,1
18,Nagaland,35,0,8,4,9,30,26,1,14,...,12,3,0,66,10,0,10,3,5,63
19,Odisha,2251,356,6499,3605,472,2587,1983,397,8252,...,9132,2525,490,3349,1074,372,9973,1984,506,3673
20,Punjab,886,85,1123,1583,27,1253,838,80,1025,...,933,1199,22,1386,910,67,956,1470,19,130
21,Rajasthan,3644,463,4813,14383,9,4167,3656,462,4839,...,4883,11508,24,5216,4955,404,5249,12250,34,2568
22,Sikkim,5,1,21,2,2,21,92,0,34,...,21,5,7,71,17,1,23,1,5,71
23,Tamil Nadu,421,65,1163,1900,20,1335,319,58,854,...,744,984,9,1027,344,55,814,789,14,271
24,Telangana,1105,262,3608,7329,1288,648,1278,254,3767,...,4409,7838,1160,1560,644,186,4567,6286,878,1162
25,Tripura,213,28,352,501,6,120,207,19,214,...,225,348,9,122,130,18,165,303,6,72
26,Uttar Pradesh,3025,2335,7885,8660,11,10135,4816,2473,11335,...,12607,12653,91,19921,4607,2444,12555,14233,17,7084
27,Uttarakhand,283,54,318,407,12,336,336,57,344,...,435,394,4,800,580,63,548,622,8,357
28,West Bengal,1199,498,5069,20163,455,3938,1110,535,4177,...,3832,16800,448,5205,2013,444,3399,16951,391,4249
29,A & N Islands,36,0,57,14,5,21,30,0,46,...,38,4,11,34,30,0,35,4,4,33
30,Chandigarh,72,5,76,126,10,165,68,4,76,...,100,121,12,203,95,6,100,93,3,156
31,D&N Haveli,8,1,5,2,0,9,14,0,1,...,3,4,0,14,7,0,6,1,2,6
32,Daman & Diu,5,0,7,3,0,13,12,0,4,...,6,5,1,14,3,0,5,4,1,29
33,Delhi,2199,122,5367,3521,1492,4301,2155,162,4165,...,2874,2735,619,6095,1226,153,2705,3416,552,5621
34,Lakshadweep,0,0,6,2,1,0,5,0,1,...,0,2,0,0,2,0,0,1,1,0
35,Puducherry,3,1,33,4,10,14,6,0,43,...,33,5,4,15,9,0,60,8,9,34

In [50]:
df=df.set_index(final_df.index)

In [51]:
final_df['Rape 19']=df['Rape']
final_df['Dowry Deaths 19']=df['Dowry Deaths']
final_df['Assault on Women with Intent to Outrage her Modesty 19']=df['Assault on Women with Intent to Outrage her Modesty']
final_df['Cruelty by Husband or his relatives 19']=df['Cruelty by Husband or his relatives']
final_df['Insult to the Modesty of Women 19']=df['Insult to the Modesty of Women']

In [52]:
final_df['Kidnapping and Abduction 19']=df['Kidnapping and Abduction']
final_df

,ST,Rape 15,Dowry Deaths 15,Assault on women with intent to outrage her modesty 15,Cruelty By Husband or his relatives 15,Insult to the modesty of women 15,Kidnapping and Abduction 15,Rape 16,Dowry Deaths 16,Assault on women with intent to outrage her modesty 16,...,Assault on women with intent to outrage her modesty 18,Cruelty by Husband or his relatives 18,Insult to the modesty of women 18,Kidnapping and Abduction 18,Rape 19,Dowry Deaths 19,Assault on Women with Intent to Outrage her Modesty 19,Cruelty by Husband or his relatives 19,Insult to the Modesty of Women 19,Kidnapping and Abduction 19
0,Andhra Pradesh,1027,174,4616,6121,2200,684,994,193,4829,...,4445,6831,1802,695,1263,112,4444,7851,1892,589
1,Arunachal Pradesh,71,0,101,66,2,128,92,1,109,...,103,60,12,75,65,1,80,54,6,68
2,Assam,1733,216,4293,11225,111,5039,1779,157,3378,...,4180,11136,171,2598,2173,156,4619,11943,385,6989
3,Bihar,1041,1154,198,3792,96,5158,1008,987,324,...,262,2539,30,1965,840,1120,312,2397,11,9025
4,Chhattisgarh,1560,89,1868,620,53,1354,1626,84,1770,...,1854,503,184,1924,1045,76,1316,732,232,2033
5,Goa,86,0,150,19,34,70,61,2,143,...,125,9,26,76,72,1,119,9,37,52
6,Gujarat,503,12,1164,4133,73,1569,982,12,1224,...,1208,2923,12,1053,529,9,1048,3619,16,922
7,Haryana,1070,243,1886,3525,90,2336,1187,260,1860,...,2671,4154,192,657,1674,248,2581,4867,173,2803
8,Himachal Pradesh,244,2,434,226,58,239,252,3,410,...,513,183,78,172,364,4,498,228,72,337
9,Jammu & Kashmir,296,6,1343,400,175,1071,256,6,1235,...,1597,325,25,457,236,8,1440,347,15,893
10,Jharkhand,1053,267,844,1654,10,930,1109,278,667,...,1378,1032,37,472,1650,299,1646,1426,7,1008
11,Karnataka,589,254,5112,2732,154,1611,1655,234,5260,...,5204,2053,138,2687,517,194,4937,2472,107,1056
12,Kerala,1256,8,3987,3668,267,192,1656,25,4029,...,4544,2046,461,178,2074,8,4507,2970,435,227
13,Madhya Pradesh,4391,664,8049,5281,390,4547,4882,629,8717,...,8790,4159,270,6725,2524,550,5585,5486,174,6091
14,Maharashtra,4144,268,11713,7640,1119,5096,4189,248,11396,...,10835,6862,1074,10331,2303,196,10472,8430,1074,6906
15,Manipur,46,0,84,39,2,94,55,0,65,...,56,14,8,11,37,0,59,15,7,84
16,Meghalaya,93,1,95,44,20,58,190,0,68,...,95,18,16,76,118,3,96,23,18,71
17,Mizoram,58,0,75,9,2,8,23,0,71,...,67,6,1,1,42,0,35,5,0,2
18,Nagaland,35,0,8,4,9,30,26,1,14,...,10,3,5,63,8,0,8,0,1,13
19,Odisha,2251,356,6499,3605,472,2587,1983,397,8252,...,9973,1984,506,3673,1533,342,11308,2739,536,3934
20,Punjab,886,85,1123,1583,27,1253,838,80,1025,...,956,1470,19,130,1111,69,944,1595,35,1534
21,Rajasthan,3644,463,4813,14383,9,4167,3656,462,4839,...,5249,12250,34,2568,7016,452,8802,18432,69,5907
22,Sikkim,5,1,21,2,2,21,92,0,34,...,23,1,5,71,14,0,21,1,2,0
23,Tamil Nadu,421,65,1163,1900,20,1335,319,58,854,...,814,789,14,271,370,28,803,781,7,699
24,Telangana,1105,262,3608,7329,1288,648,1278,254,3767,...,4567,6286,878,1162,915,163,4190,8541,695,1322
25,Tripura,213,28,352,501,6,120,207,19,214,...,165,303,6,72,97,38,153,451,5,138
26,Uttar Pradesh,3025,2335,7885,8660,11,10135,4816,2473,11335,...,12555,14233,17,7084,3423,2410,11988,18304,42,11649
27,Uttarakhand,283,54,318,407,12,336,336,57,344,...,548,622,8,357,547,57,475,644,10,375
28,West Bengal,1199,498,5069,20163,455,3938,1110,535,4177,...,3399,16951,391,4249,2013,444,3399,16951,391,4249
29,A & N Islands,36,0,57,14,5,21,30,0,46,...,35,4,4,33,13,0,25,1,3,0
30,Chandigarh,72,5,76,126,10,165,68,4,76,...,100,93,3,156,114,6,66,177,15,129
31,D&N Haveli,8,1,5,2,0,9,14,0,1,...,6,1,2,6,0,3,3,3,0,1
32,Daman & Diu,5,0,7,3,0,13,12,0,4,...,5,4,1,29,4,2,5,4,3,2
33,Delhi,2199,122,5367,3521,1492,4301,2155,162,4165,...,2705,3416,552,5621,1263,116,2355,3792,456,3672
34,Lakshadweep,0,0,6,2,1,0,5,0,1,...,0,1,1,0,0,0,5,0,8,0
35,Puducherry,3,1,33,4,10,14,6,0,43,...,60,8,9,34,10,0,23,8,0,0

In [53]:
df_2020=pd.read_csv('2020_new.csv')
df_2020

,S No,ST,Rape 20,Dowry Deaths 20,Assault on women with intent to outrage her modesty 20,Cruelty By Husband or his relatives 20,Insult to the modesty of women 20,Kidnapping and Abduction 20
0,0,Andhra Pradesh,1236,111,4886,6546,2342,534
1,1,Arunachal Pradesh,62,0,73,69,3,45
2,2,Assam,2142,148,4642,11408,90,5364
3,3,Bihar,875,1046,584,1935,6,6671
4,4,Chhattisgarh,1328,71,1461,641,279,1341
5,5,Goa,60,0,67,8,35,31
6,6,Gujarat,489,6,846,3345,17,597
7,7,Haryana,1588,251,2339,4119,183,2423
8,8,Himachal Pradesh,334,1,538,259,88,281
9,9,Jammu & Kashmir,253,9,1744,349,35,775
10,10,Jharkhand,1509,275,1358,857,6,993
11,11,Karnataka,515,176,4751,2055,70,923
12,12,Kerala,696,6,3890,2707,442,151
13,13,Madhya Pradesh,2374,608,5378,5540,200,4782
14,14,Maharashtra,2064,197,9965,6729,969,5254
15,15,Manipur,37,1,61,7,8,49
16,16,Meghalaya,86,1,86,17,16,29
17,17,Mizoram,34,0,26,7,3,1
18,18,Nagaland,4,1,7,2,2,6
19,19,Odisha,1355,320,12605,3659,615,3775
20,20,Punjab,555,63,731,1271,28,1241
21,21,Rajasthan,6275,479,8661,13765,85,4739
22,22,Sikkim,13,0,18,1,0,11
23,23,Tamil Nadu,404,40,892,689,31,633
24,24,Telangana,799,158,4907,7453,565,1314
25,25,Tripura,92,23,115,356,3,110
26,26,Uttar Pradesh,3020,2274,9864,14454,28,9109
27,27,Uttarakhand,499,65,474,668,43,349
28,28,West Bengal,2000,522,2488,19962,446,7740
29,29,A & N Islands,3,0,15,2,3,1
30,30,Chandigarh,63,1,42,96,4,90
31,31,D&N Haveli and Daman & Diu,4,1,6,4,3,0
32,32,Delhi,1006,110,1840,2557,416,2938
33,33,Lakshadweep,3,0,3,0,1,0
34,34,Puducherry,8,2,25,9,0,0

In [54]:
df_2020.drop(columns=['S No'],inplace=True)
df_2020

,ST,Rape 20,Dowry Deaths 20,Assault on women with intent to outrage her modesty 20,Cruelty By Husband or his relatives 20,Insult to the modesty of women 20,Kidnapping and Abduction 20
0,Andhra Pradesh,1236,111,4886,6546,2342,534
1,Arunachal Pradesh,62,0,73,69,3,45
2,Assam,2142,148,4642,11408,90,5364
3,Bihar,875,1046,584,1935,6,6671
4,Chhattisgarh,1328,71,1461,641,279,1341
5,Goa,60,0,67,8,35,31
6,Gujarat,489,6,846,3345,17,597
7,Haryana,1588,251,2339,4119,183,2423
8,Himachal Pradesh,334,1,538,259,88,281
9,Jammu & Kashmir,253,9,1744,349,35,775
10,Jharkhand,1509,275,1358,857,6,993
11,Karnataka,515,176,4751,2055,70,923
12,Kerala,696,6,3890,2707,442,151
13,Madhya Pradesh,2374,608,5378,5540,200,4782
14,Maharashtra,2064,197,9965,6729,969,5254
15,Manipur,37,1,61,7,8,49
16,Meghalaya,86,1,86,17,16,29
17,Mizoram,34,0,26,7,3,1
18,Nagaland,4,1,7,2,2,6
19,Odisha,1355,320,12605,3659,615,3775
20,Punjab,555,63,731,1271,28,1241
21,Rajasthan,6275,479,8661,13765,85,4739
22,Sikkim,13,0,18,1,0,11
23,Tamil Nadu,404,40,892,689,31,633
24,Telangana,799,158,4907,7453,565,1314
25,Tripura,92,23,115,356,3,110
26,Uttar Pradesh,3020,2274,9864,14454,28,9109
27,Uttarakhand,499,65,474,668,43,349
28,West Bengal,2000,522,2488,19962,446,7740
29,A & N Islands,3,0,15,2,3,1
30,Chandigarh,63,1,42,96,4,90
31,D&N Haveli and Daman & Diu,4,1,6,4,3,0
32,Delhi,1006,110,1840,2557,416,2938
33,Lakshadweep,3,0,3,0,1,0
34,Puducherry,8,2,25,9,0,0

# In the year 2020 D&N Haveli and Daman & Diu are considered as one UT so we have to sum the data of both the UT's for the years 2015-2018

In [55]:
final_df.loc[31]=final_df.loc[31]+final_df.loc[32]

In [56]:
final_df.drop(32,inplace=True)
final_df

,ST,Rape 15,Dowry Deaths 15,Assault on women with intent to outrage her modesty 15,Cruelty By Husband or his relatives 15,Insult to the modesty of women 15,Kidnapping and Abduction 15,Rape 16,Dowry Deaths 16,Assault on women with intent to outrage her modesty 16,...,Assault on women with intent to outrage her modesty 18,Cruelty by Husband or his relatives 18,Insult to the modesty of women 18,Kidnapping and Abduction 18,Rape 19,Dowry Deaths 19,Assault on Women with Intent to Outrage her Modesty 19,Cruelty by Husband or his relatives 19,Insult to the Modesty of Women 19,Kidnapping and Abduction 19
0,Andhra Pradesh,1027,174,4616,6121,2200,684,994,193,4829,...,4445,6831,1802,695,1263,112,4444,7851,1892,589
1,Arunachal Pradesh,71,0,101,66,2,128,92,1,109,...,103,60,12,75,65,1,80,54,6,68
2,Assam,1733,216,4293,11225,111,5039,1779,157,3378,...,4180,11136,171,2598,2173,156,4619,11943,385,6989
3,Bihar,1041,1154,198,3792,96,5158,1008,987,324,...,262,2539,30,1965,840,1120,312,2397,11,9025
4,Chhattisgarh,1560,89,1868,620,53,1354,1626,84,1770,...,1854,503,184,1924,1045,76,1316,732,232,2033
5,Goa,86,0,150,19,34,70,61,2,143,...,125,9,26,76,72,1,119,9,37,52
6,Gujarat,503,12,1164,4133,73,1569,982,12,1224,...,1208,2923,12,1053,529,9,1048,3619,16,922
7,Haryana,1070,243,1886,3525,90,2336,1187,260,1860,...,2671,4154,192,657,1674,248,2581,4867,173,2803
8,Himachal Pradesh,244,2,434,226,58,239,252,3,410,...,513,183,78,172,364,4,498,228,72,337
9,Jammu & Kashmir,296,6,1343,400,175,1071,256,6,1235,...,1597,325,25,457,236,8,1440,347,15,893
10,Jharkhand,1053,267,844,1654,10,930,1109,278,667,...,1378,1032,37,472,1650,299,1646,1426,7,1008
11,Karnataka,589,254,5112,2732,154,1611,1655,234,5260,...,5204,2053,138,2687,517,194,4937,2472,107,1056
12,Kerala,1256,8,3987,3668,267,192,1656,25,4029,...,4544,2046,461,178,2074,8,4507,2970,435,227
13,Madhya Pradesh,4391,664,8049,5281,390,4547,4882,629,8717,...,8790,4159,270,6725,2524,550,5585,5486,174,6091
14,Maharashtra,4144,268,11713,7640,1119,5096,4189,248,11396,...,10835,6862,1074,10331,2303,196,10472,8430,1074,6906
15,Manipur,46,0,84,39,2,94,55,0,65,...,56,14,8,11,37,0,59,15,7,84
16,Meghalaya,93,1,95,44,20,58,190,0,68,...,95,18,16,76,118,3,96,23,18,71
17,Mizoram,58,0,75,9,2,8,23,0,71,...,67,6,1,1,42,0,35,5,0,2
18,Nagaland,35,0,8,4,9,30,26,1,14,...,10,3,5,63,8,0,8,0,1,13
19,Odisha,2251,356,6499,3605,472,2587,1983,397,8252,...,9973,1984,506,3673,1533,342,11308,2739,536,3934
20,Punjab,886,85,1123,1583,27,1253,838,80,1025,...,956,1470,19,130,1111,69,944,1595,35,1534
21,Rajasthan,3644,463,4813,14383,9,4167,3656,462,4839,...,5249,12250,34,2568,7016,452,8802,18432,69,5907
22,Sikkim,5,1,21,2,2,21,92,0,34,...,23,1,5,71,14,0,21,1,2,0
23,Tamil Nadu,421,65,1163,1900,20,1335,319,58,854,...,814,789,14,271,370,28,803,781,7,699
24,Telangana,1105,262,3608,7329,1288,648,1278,254,3767,...,4567,6286,878,1162,915,163,4190,8541,695,1322
25,Tripura,213,28,352,501,6,120,207,19,214,...,165,303,6,72,97,38,153,451,5,138
26,Uttar Pradesh,3025,2335,7885,8660,11,10135,4816,2473,11335,...,12555,14233,17,7084,3423,2410,11988,18304,42,11649
27,Uttarakhand,283,54,318,407,12,336,336,57,344,...,548,622,8,357,547,57,475,644,10,375
28,West Bengal,1199,498,5069,20163,455,3938,1110,535,4177,...,3399,16951,391,4249,2013,444,3399,16951,391,4249
29,A & N Islands,36,0,57,14,5,21,30,0,46,...,35,4,4,33,13,0,25,1,3,0
30,Chandigarh,72,5,76,126,10,165,68,4,76,...,100,93,3,156,114,6,66,177,15,129
31,D&N HaveliDaman & Diu,13,1,12,5,0,22,26,0,5,...,11,5,3,35,4,5,8,7,3,3
33,Delhi,2199,122,5367,3521,1492,4301,2155,162,4165,...,2705,3416,552,5621,1263,116,2355,3792,456,3672
34,Lakshadweep,0,0,6,2,1,0,5,0,1,...,0,1,1,0,0,0,5,0,8,0
35,Puducherry,3,1,33,4,10,14,6,0,43,...,60,8,9,34,10,0,23,8,0,0

In [58]:
final_df.at[31,'ST']='D&N Haveli and Daman & Diu'
final_df.set_index(['ST'],inplace=True)

In [59]:
final_df

,Rape 15,Dowry Deaths 15,Assault on women with intent to outrage her modesty 15,Cruelty By Husband or his relatives 15,Insult to the modesty of women 15,Kidnapping and Abduction 15,Rape 16,Dowry Deaths 16,Assault on women with intent to outrage her modesty 16,Cruelty By Husband or his relatives 16,...,Assault on women with intent to outrage her modesty 18,Cruelty by Husband or his relatives 18,Insult to the modesty of women 18,Kidnapping and Abduction 18,Rape 19,Dowry Deaths 19,Assault on Women with Intent to Outrage her Modesty 19,Cruelty by Husband or his relatives 19,Insult to the Modesty of Women 19,Kidnapping and Abduction 19
ST,,,,,,,,,,,,,,,,,,,,,
Andhra Pradesh,1027,174,4616,6121,2200,684,994,193,4829,6461,...,4445,6831,1802,695,1263,112,4444,7851,1892,589
Arunachal Pradesh,71,0,101,66,2,128,92,1,109,50,...,103,60,12,75,65,1,80,54,6,68
Assam,1733,216,4293,11225,111,5039,1779,157,3378,9321,...,4180,11136,171,2598,2173,156,4619,11943,385,6989
Bihar,1041,1154,198,3792,96,5158,1008,987,324,3794,...,262,2539,30,1965,840,1120,312,2397,11,9025
Chhattisgarh,1560,89,1868,620,53,1354,1626,84,1770,622,...,1854,503,184,1924,1045,76,1316,732,232,2033
Goa,86,0,150,19,34,70,61,2,143,23,...,125,9,26,76,72,1,119,9,37,52
Gujarat,503,12,1164,4133,73,1569,982,12,1224,3732,...,1208,2923,12,1053,529,9,1048,3619,16,922
Haryana,1070,243,1886,3525,90,2336,1187,260,1860,3313,...,2671,4154,192,657,1674,248,2581,4867,173,2803
Himachal Pradesh,244,2,434,226,58,239,252,3,410,214,...,513,183,78,172,364,4,498,228,72,337
Jammu & Kashmir,296,6,1343,400,175,1071,256,6,1235,342,...,1597,325,25,457,236,8,1440,347,15,893
Jharkhand,1053,267,844,1654,10,930,1109,278,667,1002,...,1378,1032,37,472,1650,299,1646,1426,7,1008
Karnataka,589,254,5112,2732,154,1611,1655,234,5260,2556,...,5204,2053,138,2687,517,194,4937,2472,107,1056
Kerala,1256,8,3987,3668,267,192,1656,25,4029,3455,...,4544,2046,461,178,2074,8,4507,2970,435,227
Madhya Pradesh,4391,664,8049,5281,390,4547,4882,629,8717,6264,...,8790,4159,270,6725,2524,550,5585,5486,174,6091
Maharashtra,4144,268,11713,7640,1119,5096,4189,248,11396,7215,...,10835,6862,1074,10331,2303,196,10472,8430,1074,6906
Manipur,46,0,84,39,2,94,55,0,65,29,...,56,14,8,11,37,0,59,15,7,84
Meghalaya,93,1,95,44,20,58,190,0,68,26,...,95,18,16,76,118,3,96,23,18,71
Mizoram,58,0,75,9,2,8,23,0,71,19,...,67,6,1,1,42,0,35,5,0,2
Nagaland,35,0,8,4,9,30,26,1,14,3,...,10,3,5,63,8,0,8,0,1,13
Odisha,2251,356,6499,3605,472,2587,1983,397,8252,2781,...,9973,1984,506,3673,1533,342,11308,2739,536,3934
Punjab,886,85,1123,1583,27,1253,838,80,1025,1568,...,956,1470,19,130,1111,69,944,1595,35,1534
Rajasthan,3644,463,4813,14383,9,4167,3656,462,4839,13811,...,5249,12250,34,2568,7016,452,8802,18432,69,5907
Sikkim,5,1,21,2,2,21,92,0,34,2,...,23,1,5,71,14,0,21,1,2,0
Tamil Nadu,421,65,1163,1900,20,1335,319,58,854,1256,...,814,789,14,271,370,28,803,781,7,699
Telangana,1105,262,3608,7329,1288,648,1278,254,3767,7202,...,4567,6286,878,1162,915,163,4190,8541,695,1322
Tripura,213,28,352,501,6,120,207,19,214,430,...,165,303,6,72,97,38,153,451,5,138
Uttar Pradesh,3025,2335,7885,8660,11,10135,4816,2473,11335,11156,...,12555,14233,17,7084,3423,2410,11988,18304,42,11649
Uttarakhand,283,54,318,407,12,336,336,57,344,392,...,548,622,8,357,547,57,475,644,10,375
West Bengal,1199,498,5069,20163,455,3938,1110,535,4177,19302,...,3399,16951,391,4249,2013,444,3399,16951,391,4249
A & N Islands,36,0,57,14,5,21,30,0,46,7,...,35,4,4,33,13,0,25,1,3,0
Chandigarh,72,5,76,126,10,165,68,4,76,122,...,100,93,3,156,114,6,66,177,15,129
D&N Haveli and Daman & Diu,13,1,12,5,0,22,26,0,5,14,...,11,5,3,35,4,5,8,7,3,3
Delhi,2199,122,5367,3521,1492,4301,2155,162,4165,3877,...,2705,3416,552,5621,1263,116,2355,3792,456,3672
Lakshadweep,0,0,6,2,1,0,5,0,1,2,...,0,1,1,0,0,0,5,0,8,0
Puducherry,3,1,33,4,10,14,6,0,43,15,...,60,8,9,34,10,0,23,8,0,0

In [60]:
df_2020

,ST,Rape 20,Dowry Deaths 20,Assault on women with intent to outrage her modesty 20,Cruelty By Husband or his relatives 20,Insult to the modesty of women 20,Kidnapping and Abduction 20
0,Andhra Pradesh,1236,111,4886,6546,2342,534
1,Arunachal Pradesh,62,0,73,69,3,45
2,Assam,2142,148,4642,11408,90,5364
3,Bihar,875,1046,584,1935,6,6671
4,Chhattisgarh,1328,71,1461,641,279,1341
5,Goa,60,0,67,8,35,31
6,Gujarat,489,6,846,3345,17,597
7,Haryana,1588,251,2339,4119,183,2423
8,Himachal Pradesh,334,1,538,259,88,281
9,Jammu & Kashmir,253,9,1744,349,35,775
10,Jharkhand,1509,275,1358,857,6,993
11,Karnataka,515,176,4751,2055,70,923
12,Kerala,696,6,3890,2707,442,151
13,Madhya Pradesh,2374,608,5378,5540,200,4782
14,Maharashtra,2064,197,9965,6729,969,5254
15,Manipur,37,1,61,7,8,49
16,Meghalaya,86,1,86,17,16,29
17,Mizoram,34,0,26,7,3,1
18,Nagaland,4,1,7,2,2,6
19,Odisha,1355,320,12605,3659,615,3775
20,Punjab,555,63,731,1271,28,1241
21,Rajasthan,6275,479,8661,13765,85,4739
22,Sikkim,13,0,18,1,0,11
23,Tamil Nadu,404,40,892,689,31,633
24,Telangana,799,158,4907,7453,565,1314
25,Tripura,92,23,115,356,3,110
26,Uttar Pradesh,3020,2274,9864,14454,28,9109
27,Uttarakhand,499,65,474,668,43,349
28,West Bengal,2000,522,2488,19962,446,7740
29,A & N Islands,3,0,15,2,3,1
30,Chandigarh,63,1,42,96,4,90
31,D&N Haveli and Daman & Diu,4,1,6,4,3,0
32,Delhi,1006,110,1840,2557,416,2938
33,Lakshadweep,3,0,3,0,1,0
34,Puducherry,8,2,25,9,0,0

In [61]:
df_2020=df_2020.set_index(final_df.index)

In [66]:
final_df['Rape 20']=df_2020['Rape 20']
final_df['Dowry Deaths 20']=df_2020['Dowry Deaths 20']
final_df['Assault on Women with Intent to Outrage her Modesty 20']=df_2020['Assault on women with intent to outrage her modesty 20']
final_df['Cruelty by Husband or his relatives 20']=df_2020['Cruelty By Husband or his relatives 20']
final_df['Insult to the Modesty of Women 20']=df_2020['Insult to the modesty of women 20']
final_df['Kidnapping and Abduction 20']=df_2020['Kidnapping and Abduction 20']

In [67]:
final_df

,Rape 15,Dowry Deaths 15,Assault on women with intent to outrage her modesty 15,Cruelty By Husband or his relatives 15,Insult to the modesty of women 15,Kidnapping and Abduction 15,Rape 16,Dowry Deaths 16,Assault on women with intent to outrage her modesty 16,Cruelty By Husband or his relatives 16,...,Assault on Women with Intent to Outrage her Modesty 19,Cruelty by Husband or his relatives 19,Insult to the Modesty of Women 19,Kidnapping and Abduction 19,Rape 20,Dowry Deaths 20,Assault on Women with Intent to Outrage her Modesty 20,Cruelty by Husband or his relatives 20,Insult to the Modesty of Women 20,Kidnapping and Abduction 20
ST,,,,,,,,,,,,,,,,,,,,,
Andhra Pradesh,1027,174,4616,6121,2200,684,994,193,4829,6461,...,4444,7851,1892,589,1236,111,4886,6546,2342,534
Arunachal Pradesh,71,0,101,66,2,128,92,1,109,50,...,80,54,6,68,62,0,73,69,3,45
Assam,1733,216,4293,11225,111,5039,1779,157,3378,9321,...,4619,11943,385,6989,2142,148,4642,11408,90,5364
Bihar,1041,1154,198,3792,96,5158,1008,987,324,3794,...,312,2397,11,9025,875,1046,584,1935,6,6671
Chhattisgarh,1560,89,1868,620,53,1354,1626,84,1770,622,...,1316,732,232,2033,1328,71,1461,641,279,1341
Goa,86,0,150,19,34,70,61,2,143,23,...,119,9,37,52,60,0,67,8,35,31
Gujarat,503,12,1164,4133,73,1569,982,12,1224,3732,...,1048,3619,16,922,489,6,846,3345,17,597
Haryana,1070,243,1886,3525,90,2336,1187,260,1860,3313,...,2581,4867,173,2803,1588,251,2339,4119,183,2423
Himachal Pradesh,244,2,434,226,58,239,252,3,410,214,...,498,228,72,337,334,1,538,259,88,281
Jammu & Kashmir,296,6,1343,400,175,1071,256,6,1235,342,...,1440,347,15,893,253,9,1744,349,35,775
Jharkhand,1053,267,844,1654,10,930,1109,278,667,1002,...,1646,1426,7,1008,1509,275,1358,857,6,993
Karnataka,589,254,5112,2732,154,1611,1655,234,5260,2556,...,4937,2472,107,1056,515,176,4751,2055,70,923
Kerala,1256,8,3987,3668,267,192,1656,25,4029,3455,...,4507,2970,435,227,696,6,3890,2707,442,151
Madhya Pradesh,4391,664,8049,5281,390,4547,4882,629,8717,6264,...,5585,5486,174,6091,2374,608,5378,5540,200,4782
Maharashtra,4144,268,11713,7640,1119,5096,4189,248,11396,7215,...,10472,8430,1074,6906,2064,197,9965,6729,969,5254
Manipur,46,0,84,39,2,94,55,0,65,29,...,59,15,7,84,37,1,61,7,8,49
Meghalaya,93,1,95,44,20,58,190,0,68,26,...,96,23,18,71,86,1,86,17,16,29
Mizoram,58,0,75,9,2,8,23,0,71,19,...,35,5,0,2,34,0,26,7,3,1
Nagaland,35,0,8,4,9,30,26,1,14,3,...,8,0,1,13,4,1,7,2,2,6
Odisha,2251,356,6499,3605,472,2587,1983,397,8252,2781,...,11308,2739,536,3934,1355,320,12605,3659,615,3775
Punjab,886,85,1123,1583,27,1253,838,80,1025,1568,...,944,1595,35,1534,555,63,731,1271,28,1241
Rajasthan,3644,463,4813,14383,9,4167,3656,462,4839,13811,...,8802,18432,69,5907,6275,479,8661,13765,85,4739
Sikkim,5,1,21,2,2,21,92,0,34,2,...,21,1,2,0,13,0,18,1,0,11
Tamil Nadu,421,65,1163,1900,20,1335,319,58,854,1256,...,803,781,7,699,404,40,892,689,31,633
Telangana,1105,262,3608,7329,1288,648,1278,254,3767,7202,...,4190,8541,695,1322,799,158,4907,7453,565,1314
Tripura,213,28,352,501,6,120,207,19,214,430,...,153,451,5,138,92,23,115,356,3,110
Uttar Pradesh,3025,2335,7885,8660,11,10135,4816,2473,11335,11156,...,11988,18304,42,11649,3020,2274,9864,14454,28,9109
Uttarakhand,283,54,318,407,12,336,336,57,344,392,...,475,644,10,375,499,65,474,668,43,349
West Bengal,1199,498,5069,20163,455,3938,1110,535,4177,19302,...,3399,16951,391,4249,2000,522,2488,19962,446,7740
A & N Islands,36,0,57,14,5,21,30,0,46,7,...,25,1,3,0,3,0,15,2,3,1
Chandigarh,72,5,76,126,10,165,68,4,76,122,...,66,177,15,129,63,1,42,96,4,90
D&N Haveli and Daman & Diu,13,1,12,5,0,22,26,0,5,14,...,8,7,3,3,4,1,6,4,3,0
Delhi,2199,122,5367,3521,1492,4301,2155,162,4165,3877,...,2355,3792,456,3672,1006,110,1840,2557,416,2938
Lakshadweep,0,0,6,2,1,0,5,0,1,2,...,5,0,8,0,3,0,3,0,1,0
Puducherry,3,1,33,4,10,14,6,0,43,15,...,23,8,0,0,8,2,25,9,0,0

In [68]:
final_df.to_csv("2015-2020 MAJOR CRIMES.csv")